Repository reactive-firewall/multicast: changes, and which Codecov flags are due for each by the changed paths.
All: multicast, tests

[STYLE] improved doc-tests style for checkCovCommand (- WIP #108 -)
  tests/context.py
Due: tests

[STYLE] improved doc-tests style for chkStrOrByte (- WIP #108 -)
  tests/context.py
Due: tests

[STYLE] improved doc-tests style for checkPythonCommand (- WIP #108 -)
  tests/context.py
Due: tests

[STYLE] tweaked doc-tests style for cross-python testing in tests/context.py (- WIP #108 -)
  tests/context.py
Due: tests

[DOCUMENTATION] Prototype documentation features via sphinx (- WIP #79 -)
  LICENSE.md
  Makefile
  docs/Makefile
  docs/conf.py
  docs/requirements.txt
  docs/toc.md
Due: none

[DOCUMENTATION] debugged sphinx build features some more (- WIP #110 -)
  Makefile
  docs/conf.py
Due: none

[HOTFIX] Fixup .gitignore file
  .gitignore
Due: none

[DOCUMENTATION] updated documentation configuration a bit. (- WIP #110 -)
  docs/conf.py
  docs/toc.md
Due: none

[DOCUMENTATION] Fixed GH links for project and updated some docs (- WIP #79 & #110 -)
  LICENSE.md
  docs/FAQ.md
  docs/Makefile
  docs/conf.py
  docs/toc.md
Due: none

[DOCUMENTATION] Improved Documentation hopefully (- WIP #104 & #110 -)
  docs/CI.md
  docs/FAQ.md
  docs/USAGE.md
  docs/requirements.txt
  docs/toc.md
Due: none

[DOCUMENTATION] Drafted improved README (- WIP #104 -)
  README.md
Due: none

[REGRESSION] Apply suggestions from code review (- WIP #110 -)
  LICENSE.md
  docs/CI.md
  docs/FAQ.md
  docs/USAGE.md
  docs/toc.md
Due: none

[DOCUMENTATION] Apply suggestions from code review (- WIP #110 -)
  docs/FAQ.md
  docs/toc.md
Due: none

Apply suggestions from code review
  LICENSE.md
  docs/CI.md
  docs/FAQ.md
  docs/Makefile
Due: none

[STYLE] Apply suggestions from code review (- WIP #110 -)
  docs/CI.md
  docs/FAQ.md
Due: none

[PATCH] More Fixes
  docs/CI.md
  docs/FAQ.md
Due: none

[DOCUMENTATION] CI documentation tweaks (- WIP #110 -)
  docs/CI.md
Due: none

Apply MORE suggestions from code review
  docs/FAQ.md
Due: none

[STYLE] Refactored some unrelated code for style compliance (- WIP #53 -)
  tests/context.py
  tests/test_deps.py
Due: tests

[DOCUMENTATION] Clearified setup the label from 'set up' the words (- WIP #79 -)
  .circleci/config.yml
  .github/workflows/Tests.yml
  docs/FAQ.md
  docs/USAGE.md
  multicast/__init__.py
  multicast/__main__.py
  multicast/hear.py
  multicast/recv.py
  multicast/send.py
  multicast/skt.py
  setup.py
  tests/MulticastUDPClient.py
  tests/context.py
Due: multicast, tests

[STYLE] added Copyright line to source docs (- WIP #110 -)
  docs/FAQ.md
  docs/USAGE.md
Due: none

[PATCH] added new OSSF badge to security section (- WIP #104 -)
  README.md
Due: none

[STYLE] Apply suggestions from code review
  README.md
Due: none

Update docs/USAGE.md
  docs/USAGE.md
Due: none

[TESTING] Re-enabling test blocking for style and adding docs/requirements.txt to CI (- WIP #110 -)
  .github/workflows/Tests.yml
  Makefile
  tox.ini
Due: none

[TESTING] Fixup for CI env where documentation gaps caused failures (- FIX #110 -)
  Makefile
  docs/conf.py
Due: none

[UPGRADE] fixed spellcheck tool (- WIP #111 -)
  tests/check_spelling
Due: tests

[TESTING] fixup for CI with deepsource coverage (- WIP #110 -)
  .github/workflows/Tests.yml
Due: none

[TESTS] used new tests/check_spelling tool to auto-fix spelling in test files (- WIP #110 & #111 -)
  tests/MulticastUDPClient.py
  tests/context.py
  tests/test_usage.py
Due: tests

[DOCUMENTATION] used new tests/check_spelling tool to fixup the docs (- WIP #110 & #111 -)
  docs/USAGE.md
  docs/conf.py
Due: none

[STYLE] Finished fixing with new tests/check_spelling tool (- WIP #110 & #111 -)
  multicast/__init__.py
  multicast/__main__.py
  multicast/hear.py
  multicast/recv.py
  multicast/send.py
  multicast/skt.py
Due: multicast

[STYLE] corrected v-array to intended vary in comment (- WIP #110 -)
  docs/USAGE.md
Due: none

[PATCH] Apply suggestions from code review (- WIP #110 -)
  docs/USAGE.md
  docs/conf.py
  tests/check_spelling
Due: tests

[HOTFIX] fixed CI regression by false-positive spelling correction (- WIP #110 & #111 -)
  tests/test_usage.py
Due: tests

[PATCH] Apply suggestions from code review (- WIP #110 -)
  docs/USAGE.md
Due: none

[UPDATE] Bump Version in prep of release (- WIP #110 -)
  multicast/__init__.py
Due: multicast

[STYLE] Apply suggestions from code review (- WIP #110 -)
  docs/USAGE.md
Due: none

[FIX] fix for Deepsource PYL-R0201 (- WIP #114 -)
  tests/MulticastUDPClient.py
Due: tests

[STYLE] Fix for false-positive PLY-R0401 when intentional in testing (- WIP #114 -)
  tests/__init__.py
  tests/context.py
Due: tests

Path conditions:
  multicast: any of: multicast/, but not: tests/
  tests: any of: tests/, but not: multicast/
