Repository reactive-firewall/multicast: changes, and which Codecov flags are due for each by the changed paths.
All: multicast, tests

.codecov.yml:

codecov:
  notify:
    wait_for_ci: true
  require_ci_to_pass: true
  max_report_age: off
comment:
  behavior: default
  layout: reach, diff, flags, files, footer
  require_base: false
  require_changes: false
  require_head: true
  show_carryforward_flags: false
coverage:
  precision: 3
  round: nearest
  status:
    changes: false
    default_rules:
      flag_coverage_not_uploaded_behavior: include
    patch: true
    project:
      default:
        target: 95%
        base: auto
        branches:
          - master
          - stageing
          - stable
        if_ci_failed: error
        only_pulls: false
        removed_code_behavior: adjust_base
      multicast:
        target: 95%
        threshold: 1%
        threshold: 1%
        only_pulls: false
        flags:
          - "multicast"
        paths:
          - "multicast/"
          - "setup.py"
          - "!tests/"
      tests:
        target: 80%
        threshold: 1%
        if_ci_failed: ignore
        only_pulls: false
        removed_code_behavior: fully_covered_patch
        flags:
          - "tests"
        paths:
          - tests/
          - "!multicast/"
github_checks:
  annotations: true
flags:
  multicast:
    paths:
      - "multicast/"
      - "!tests/"
  tests:
    paths:
      - "tests/"
      - "!multicast/"

[TESTING] Implemented tests/test_hear_keyboard_interrupt.py (- WIP #53 -)
  tests/__init__.py
  tests/test_hear_keyboard_interrupt.py
Due: tests

[TESTING] Fix for regression.
  .github/workflows/Tests.yml
Due: none

[TESTING] Possible fix for regression Part 2.
  .github/workflows/Tests.yml
Due: none

[TESTING] Possible fix for regression Part 3.
  .github/workflows/Labeler.yml
  .github/workflows/Tests.yml
  .github/workflows/bandit.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/makefile-lint.yml
  .github/workflows/markdown-lint.yml
  .github/workflows/yaml-lint.yml
Due: none

[PATCH] Apply suggestions from code review (- WIP PR #173 -)
  .github/workflows/scorecard.yml
Due: none

[TESTING] Possible fix for regression Part 5.
  .github/workflows/Tests.yml
Due: none

[TESTING] Possible fix for regression Part 5.
  .github/dependabot.yml
Due: none

[CONFIG] Fix braindead windows python pip issue (- WIP PR #175 -)
  .github/workflows/Tests.yml
Due: none

[TESTING] Posible fix for linux ctlC tests (- WIP #53 -)
  tests/test_hear_keyboard_interrupt.py
Due: tests

[CI] Apply suggestions from code review (- WIP #176 -)
  .github/workflows/bandit.yml
  .github/workflows/makefile-lint.yml
  .github/workflows/markdown-lint.yml
  .github/workflows/yaml-lint.yml
Due: none

[TESTING] Implemented CEP-8 exit-code refactoring and updated test code (- WIP #117 & PR #175 -)
  .coderabbit.yaml
  .coveragerc
  docs/Makefile
  multicast/__init__.py
  multicast/__main__.py
  multicast/exceptions.py
  multicast/hear.py
  multicast/recv.py
  multicast/send.py
  tests/__init__.py
  tests/profiling.py
  tests/test_fuzz.py
  tests/test_hear_data_processing.py
  tests/test_hear_keyboard_interrupt.py
  tests/test_usage.py
Due: multicast, tests

[PATCH] Applied changes as discussed in review (- WIP #175 -)
  .coderabbit.yaml
  Makefile
  multicast/exceptions.py
  multicast/hear.py
  tests/context.py
  tests/test_fuzz.py
  tests/test_usage.py
Due: multicast, tests

[TESTING] Implemented new test HearHandleNoneDataTestSuite (- WIP #53 -)
  multicast/__main__.py
  multicast/recv.py
  tests/__init__.py
  tests/test_hear_data_processing.py
  tests/test_usage.py
Due: multicast, tests

[TESTING] Fixup Part 1 (- WIP PR #175 -)
  multicast/exceptions.py
  tests/__init__.py
  tests/test_exceptions.py
Due: multicast, tests

[TESTING] Imporved test coverage slightly (- WIP #53 -)
  multicast/recv.py
Due: multicast

[PATCH] Minor Covrage tweak.
  multicast/hear.py
Due: multicast

[UPDATE] Version bump scorecard.yml
  .github/workflows/scorecard.yml
Due: none

[UPDATE] Version Bump
  multicast/__init__.py
  setup.cfg
  setup.py
Due: multicast

[REGRESSION] fix for regression in last commit.
  setup.py
Due: none

[TESTING] improved coverage slightly (- #53 -)
  multicast/hear.py
  tests/test_fuzz.py
  tests/test_hear_server.py
Due: multicast, tests

[STYLE] Apply suggestions from code review (- WIP PR #178 -)
  tests/test_hear_server.py
Due: tests

[CI] Configuration tweak for enhanced TOX in CI (- WIP PR #178 -)
  .github/workflows/Tests.yml
Due: none

[REGRESSION] minor regression fix in new tests (- WIP #53 & PR #178 -)
  tests/__init__.py
  tests/test_hear_server.py
Due: tests

[FEATURE] Implemented Custom Shutdown Exception (- WIP #154 -)
  multicast/exceptions.py
  multicast/hear.py
Due: multicast

[DOCUMENTATION] Additional docstrings (- WIP #154 -)
  multicast/exceptions.py
Due: multicast

[STYLE] Minor comment space style fix (- WIP #154 -)
  docs/conf.py
Due: none

[STYLE] Style fix to align docstring with CEP-7 (- WIP PR #179 -)
  multicast/exceptions.py
Due: multicast

[PATCH] Applied changes as pre review (- WIP #179 -)
  multicast/exceptions.py
Due: multicast

[CI] Minor tweak to tox.ini
  tox.ini
Due: none

[PATCH] added more doctests (- WIP #179 -)
  multicast/exceptions.py
Due: multicast

[STYLE] Aligned '.flake8.ini' with CEP-8 and CEP-7 (- WIP #181 -)
  .flake8.ini
Due: none

[PATCH] Applying updates as discussed in review (- WIP #184 -)
  .circleci/config.yml
  .github/tool_checkmake.sh
  .github/workflows/bandit.yml
  .github/workflows/makefile-lint.yml
  .github/workflows/markdown-lint.yml
  .github/workflows/scorecard.yml
  .github/workflows/yaml-lint.yml
  docs/Makefile
  docs/conf.py
  multicast/__init__.py
  multicast/__main__.py
  multicast/skt.py
  setup.cfg
  tests/check_cc_lines
  tests/check_codecov
  tests/check_integration_coverage
  tests/check_legacy_setup_coverage
  tests/check_pip
  tests/check_spelling
  tests/context.py
  tests/test_hear_data_processing.py
  tests/test_hear_server.py
  tests/test_hear_server_activate.py
Due: multicast, tests

[PATCH] Applying updates as discussed in re-review (- WIP #184 -)
  .coderabbit.yaml
  .github/tool_checkmake.sh
  .github/workflows/bandit.yml
  .github/workflows/makefile-lint.yml
  .github/workflows/markdown-lint.yml
  .github/workflows/scorecard.yml
  .github/workflows/yaml-lint.yml
  tests/check_pip
  tests/context.py
Due: tests

[PATCH] Applying updates as discussed in re-review (- WIP #184 -)
  .github/tool_checkmake.sh
  .github/workflows/bandit.yml
  .github/workflows/makefile-lint.yml
  .github/workflows/markdown-lint.yml
  .github/workflows/yaml-lint.yml
  tests/check_pip
Due: tests

[STYLE] minor style fixes (- WIP PR #178 -)
  .github/workflows/makefile-lint.yml
  .github/workflows/markdown-lint.yml
Due: none

[SECURITY] minor version bump for pip to fix GHSA-mq26-g339-26xf / PYSEC-2023-228 (- WIP PR #178 -)
  .github/workflows/Tests.yml
  Makefile
  docs/requirements.txt
  requirements.txt
  tests/requirements.txt
  tox.ini
Due: tests

[STYLE] Yield to the linter overlord (- WIP PR #184 -)
  .appveyor.yml
  .bandit.yml
  .circleci/config.yml
  .codecov.yml
  .coderabbit.yaml
  .github/dependabot.yml
  .github/labeler.yml
  .github/workflows/Labeler.yml
  .github/workflows/Tests.yml
  .github/workflows/bandit.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/makefile-lint.yml
  .github/workflows/markdown-lint.yml
  .github/workflows/scorecard.yml
  .github/workflows/yaml-lint.yml
  .markdownlint.yaml
  .readthedocs.yaml
Due: none

[REGRESSION] fix for check_pip regression where unfiltered file caused failure.
  tests/check_pip
Due: tests

[REGRESSION] fix for tag name typo.
  .github/workflows/makefile-lint.yml
Due: none

[PATCH] minor fixes (- WIP PR #184 -)
  .github/workflows/makefile-lint.yml
  .github/workflows/markdown-lint.yml
  tests/check_pip
Due: tests
