Repository reactive-firewall/multicast: changes, and which Codecov flags are due for each by the changed paths.
All: multicast, tests

[UPDATE] Update '.deepsource.yml' (- WIP #85 -)
  .deepsource.toml
Due: none

[UPDATE] Update '.deepsource.yml' again (- WIP #85 -)
  .deepsource.toml
Due: none

[DOCUMENTATION] update the wheel license comment (- WIP #88 -)
  tests/requirements.txt
Due: tests

[DOCUMENTATION] update the setuptools license comment (- WIP #89 -)
  tests/requirements.txt
Due: tests

[DOCUMENTATION] updated BasicIntegrationTestSuite documentation (- WIP #79 -)
  tests/test_usage.py
Due: tests

[DOCUMENTATION] updated MulticastTestSuite documentation (- WIP #79 -)
  tests/test_usage.py
Due: tests

[DOCUMENTATION] updated BasicTestSuite documentation (- WIP #79 -)
  tests/test_basic.py
Due: tests

[DOCUMENTATION] updated checkStrOrByte documentation (- WIP #79 -)
  tests/context.py
Due: tests

[DOCUMENTATION] updated checkPythonCommand documentation (- WIP #79 -)
  tests/context.py
Due: tests

[DOCUMENTATION] updated checkCovCommand documentation (- WIP #79 -)
  tests/context.py
Due: tests

[TESTS] updated some of context.py doctests for cross-python stability (- WIP #79 -)
  tests/context.py
Due: tests

[STYLE] attempt to improve code quality (- WIP #94 -)
  multicast/__main__.py
  multicast/hear.py
  multicast/recv.py
  multicast/send.py
Due: multicast

[STYLE] Suppress pylint by fix or rule but suppress (- WIP #94 -)
  .coveragerc
  multicast/__init__.py
  multicast/__main__.py
  multicast/hear.py
  multicast/recv.py
  multicast/send.py
  multicast/skt.py
  tests/context.py
  tests/test_usage.py
Due: multicast, tests

[STYLE] possible fix for PYL-R0123 (- WIP #94 -)
  tests/context.py
Due: tests

[STYLE] Minor updates to _sayStep core function (- WIP #94 -)
  multicast/send.py
Due: multicast

[STYLE] Minor updates to internal module structures to improve performance (- WIP #94 -)
  multicast/__init__.py
  multicast/__main__.py
  multicast/recv.py
  tests/MulticastUDPClient.py
Due: multicast, tests

[PATCH] Suppress pylint by fix or rule but suppress (- WIP #94 -)
  multicast/__main__.py
  multicast/hear.py
  multicast/recv.py
  multicast/send.py
  multicast/skt.py
Due: multicast

Update multicast/__main__.py as suggested
  multicast/__main__.py
Due: multicast

[DOCUMENTATION] minor update for tox license details (- WIP #96 & #80 -)
  tests/requirements.txt
Due: tests

[DOCUMENTATION] minor update for flake8 license details (- WIP #96 & #80 -)
  tests/requirements.txt
Due: tests

[DOCUMENTATION] minor update for 'build' module license details (- WIP #96 & #80 -)
  tests/requirements.txt
Due: tests

[DOCUMENTATION] minor update for 'pip' module license details (- WIP #96 & #80 -)
  tests/requirements.txt
Due: tests

[DOCUMENTATION] added additional doc-strings to MulticastUDPClient.McastClient.say (- WIP #53 & #96 -)
  tests/MulticastUDPClient.py
Due: tests

[DOCUMENTATION] added additional doc-strings to MulticastUDPClient.McastClient.init (- WIP #53 & #96 -)
  tests/MulticastUDPClient.py
Due: tests

[PATCH] debugged failing tests (- WIP #53 & #96 -)
  tests/MulticastUDPClient.py
Due: tests

[DOCUMENTATION] minor update for 'pep8' module license details (- WIP #96 & #103 -)
  tests/requirements.txt
Due: tests

[DOCUMENTATION] minor update for 'pytests' module license details (- WIP #96 & #103 -)
  tests/requirements.txt
Due: tests

[DOCUMENTATION] minor update for 'pytest-checkdocs' module license details (- WIP #96 & #103 -)
  tests/requirements.txt
Due: tests

[DOCUMENTATION] minor update for 'pytest-cov' module license details (- WIP #96 & #103 -)
  tests/requirements.txt
Due: tests

[DOCUMENTATION] minor update for 'sphinx' module license details (- WIP #103 -)
  tests/requirements.txt
Due: tests

[DOCUMENTATION] minor update for 'pytest-enabler' module license details (- WIP #96 & #103 -)
  tests/requirements.txt
Due: tests

[DOCUMENTATION] minor update for module license details (- WIP #103 -)
  requirements.txt
Due: none

[DOCUMENTATION] minor update for module license details (- WIP #96 & #103 -)
  tests/requirements.txt
Due: tests

[CI] minor update for CircleCI to use new 'tests/requirements.txt'(- WIP #99 & #100 & #60 -)
  .circleci/config.yml
Due: none

[DOCUMENTATION] Updated script header with info (- WIP #98 -)
  tests/check_legacy_setup_coverage
Due: tests

[TESTING] Updated script header with info (- WIP #100 -)
  Makefile
  tests/__init__.py
  tests/test_deps.py
Due: tests

[TESTING] fixed some bad whitespace (- WIP #60 -)
  tests/context.py
Due: tests

[TESTING] fixed some unstable doc-tests (- WIP #60 & #53 -)
  tests/context.py
Due: tests

[TESTING] fixed another unstable doc-tests (- WIP #53 -)
  tests/context.py
Due: tests

[UPDATE] Update tests/test_deps.py as discussed
  tests/test_deps.py
Due: tests

Path conditions:
  multicast: any of: multicast/, but not: tests/
  tests: any of: tests/, but not: multicast/
