Repository reactive-firewall/multicast: changes, and which Codecov flags are due for each by the changed paths.
All: multicast, tests

[CI] Minor tweak for extra tests #177
  .github/workflows/Tests.yml
Due: none

[CI] Fix for regression #177
  .github/workflows/Tests.yml
Due: none

[HOTFIX] Release Candidate from `v2.0.3-rc-1` to `v2.0.3-rc-2`
  docs/conf.py
  multicast/__init__.py
  setup.cfg
Due: multicast

[HOTFIX] Release Candidate version bump to `v2.0.3-rc-3`
  docs/conf.py
  multicast/__init__.py
  setup.cfg
Due: multicast

[HOTFIX] Workaround for Deep-source complaining about PYL-W1508
  multicast/env.py
Due: multicast

[DOUMENTATION] Minor clearification regarding logo.svg and Multicast M trademark.
  Logo.svg
Due: none

[HOTFIX] Suppress TCV-002 from defensive code.
  tests/context.py
Due: tests

[HOTFIX] Suppress more TCV-002 noise from deepsource
  tests/MulticastUDPClient.py
Due: tests

[StepSecurity] ci: Harden GitHub Actions
  .github/workflows/CI-BUILD.yml
  .github/workflows/CI-DOCS.yml
  .github/workflows/CI-MATs.yml
  .github/workflows/Labeler.yml
  .github/workflows/Tests.yml
  .github/workflows/bandit.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/makefile-lint.yml
  .github/workflows/markdown-lint.yml
  .github/workflows/yaml-lint.yml
Due: none

[STYLE] Minor changes found in review (- WIP PR #263 -)
  tests/MulticastUDPClient.py
  tests/context.py
Due: tests

[DOCUMENTATION] added docstring for last change.
  tests/context.py
Due: tests

[TESTING] Prototyping for #165
  .github/workflows/shellcheck.yml
Due: none

[CI] minor refactor to allow initial testing (- WIP #165 -)
  .github/workflows/shellcheck.yml
Due: none

### ChangeLog: Changes in file .github/workflows/shellcheck.yml: jobs:
  .github/workflows/shellcheck.yml
Due: none

[CI] Version bump shellcheck-scan (- WIP #165 -)
  .github/workflows/shellcheck.yml
Due: none

[CI] Version bump Shellcheck-scan again (- WIP #165 -)
  .github/workflows/shellcheck.yml
Due: none

[CI] Version bump bump :see_no_evil: (- WIP #165 -)
  .github/workflows/shellcheck.yml
Due: none

[CI] Shellcheck-scan version bump (- WIP #165 -)
  .github/workflows/shellcheck.yml
Due: none

[CI] Version bump to fix shellcheck-scan (- WIP #165 -)
  .github/workflows/shellcheck.yml
Due: none

[TESTING] Version bump for shellcheck-scan churn (- WIP #165 -)
  .github/workflows/shellcheck.yml
Due: none

[CI] version bump for shellcheck-scan (- WIP #165 -)
  .github/workflows/shellcheck.yml
Due: none

[CI] Yet another Version Bump for shellcheck-scan :rocket: (- WIP #165 -)
  .github/workflows/shellcheck.yml
Due: none

[CI] More inputs to test :tada: (- WIP #165 -)
  .github/workflows/shellcheck.yml
Due: none

Release Candidate for Version v2.0.4
  docs/conf.py
  multicast/__init__.py
  setup.cfg
Due: multicast

[HOTFIX] Release Candidate v2.0.4-rc-2 (- PR #277 -)
  docs/Environment_Configuration.md
  docs/Makefile
  docs/conf.py
  docs/index.md
  docs/toc.md
  multicast/__init__.py
  setup.cfg
Due: multicast

[STYLE] Multiple Style FIxes (- PR #177 -)
  docs/Environment_Configuration.md
  docs/conf.py
  multicast/__init__.py
  setup.cfg
Due: multicast

[DOCUMENTATION] Enhanced new CI-MATs documentation slightly (- PR #277 -)
  .github/workflows/CI-MATs.yml
Due: none

[STYLE] Fixed wording in documentation as found in review (- PR #277 -)
  docs/Environment_Configuration.md
Due: none

[CONFIG] Remove redundant docstring configuration (- PR #277 -)
  pyproject.toml
Due: none

[UPDATE] Version Bump to `v2.0.4`
  docs/conf.py
  multicast/__init__.py
  setup.cfg
Due: multicast

### ChangeLog: Additions with file .github/workflows/shellcheck.yml: Unknown Additions
  .github/workflows/shellcheck.yml
Due: none

### ChangeLog: Changes in file .github/workflows/shellcheck.yml: Unknown Changes
  .github/workflows/shellcheck.yml
Due: none

Path conditions:
  multicast: any of: multicast/, but not: tests/
  tests: any of: tests/, but not: multicast/
