Repository reactive-firewall/multicast: changes, and which Codecov flags are due for each by the changed paths.
All: multicast, tests

.codecov.yml:

codecov:
  notify:
    wait_for_ci: true
  require_ci_to_pass: true
  max_report_age: off
comment:
  behavior: default
  layout: reach, diff, flags, files, footer
  require_base: false
  require_changes: false
  require_head: true
  show_carryforward_flags: false
coverage:
  precision: 3
  round: nearest
  status:
    changes: false
    default_rules:
      flag_coverage_not_uploaded_behavior: include
    patch: true
    project:
      default:
        target: 95%
        base: auto
        branches:
          - master
          - stageing
          - stable
        if_ci_failed: error
        only_pulls: false
        removed_code_behavior: adjust_base
      multicast:
        target: 95%
        threshold: 1%
        threshold: 1%
        only_pulls: false
        flags:
          - "multicast"
        paths:
          - "multicast/"
          - "setup.py"
          - "!tests/"
      tests:
        target: 80%
        threshold: 1%
        if_ci_failed: ignore
        only_pulls: false
        removed_code_behavior: fully_covered_patch
        flags:
          - "tests"
        paths:
          - tests/
          - "!multicast/"
github_checks:
  annotations: true
flags:
  multicast:
    paths:
      - "multicast/"
      - "!tests/"
  tests:
    paths:
      - "tests/"
      - "!multicast/"

[STYLE] Fix for PYL-R0401 when aliasing for consistancy (- WIP #114 -)
  docs/FAQ.md
  docs/USAGE.md
  multicast/__init__.py
  multicast/__main__.py
  multicast/hear.py
  multicast/recv.py
  multicast/send.py
  multicast/skt.py
  tests/test_usage.py
Due: multicast, tests

[STYLE] Fixes for pylint blindespots for dynamic analysis (- WIP #114 -)
  README.md
  multicast/__init__.py
  multicast/__main__.py
  multicast/hear.py
  multicast/recv.py
  multicast/send.py
Due: multicast

[STYLE] More fixes for brain-dead deepsource linting (- WIP #114 -)
  docs/conf.py
  multicast/__main__.py
  multicast/recv.py
  multicast/send.py
  multicast/skt.py
  tests/MulticastUDPClient.py
  tests/test_usage.py
Due: multicast, tests

[HOTFIX] Fix for CI.md git-graph (- WIP #104 & PR #112 & PR #110 -)
  docs/CI.md
Due: none

[PATCH] fix for new deepsource complaints (- WIP #114 & PR #115 -)
  multicast/send.py
Due: multicast

[PATCH] another fix for deepsource linter (- WIP #114 & PR #115 -)
  multicast/__init__.py
  multicast/hear.py
  multicast/recv.py
  multicast/send.py
Due: multicast

[PATCH] some fixes as discussed in review (- WIP #115 -)
  .deepsource.toml
  multicast/__main__.py
  multicast/hear.py
  tests/__init__.py
  tests/context.py
  tests/test_usage.py
Due: multicast, tests

Fix typo in docs/CI.md
  docs/CI.md
Due: none

[REGRESSION] Implemented the new parse_requirements function in setup.py (- WIP #119 -)
  setup.cfg
  setup.py
  tox.ini
Due: none

[PATCH] Possible fix for sdist builds (- WIP #118 & #119 -)
  Makefile
  setup.cfg
  tox.ini
Due: none

[TESTING] Fix for CI TOX where virtual builds were failing (- WIP #119 & PR #118 -)
  .codecov.yml
  Makefile
  docs/conf.py
  setup.py
  tox.ini
Due: none

[DOCUMENTATION] Update docs/toc.md
  docs/toc.md
Due: none

[TESTS] New test-suite for testing parse_requirements_for_install_requires Functio (- WIP #119 -)
  setup.py
  tests/__init__.py
  tests/test_install_requires.py
Due: tests

[TESTS] Implemented a new test suite for build process with setup.py (- WIP #119 & PR #121 -)
  tests/test_manifest.py
Due: tests

[TESTING] Added a prototype test-suite to test PEP-517 compliance (- WIP #119 & PR #121 -)
  tests/__init__.py
  tests/test_build.py
Due: tests

[PATCH] Implemented check_pip (- WIP #99 -)
  tests/check_pip
Due: tests

Update docs/conf.py to simplify
  docs/conf.py
Due: none

Update tests/check_pip description
  tests/check_pip
Due: tests

[TESTING] Integrated new check_pip command into GH actions to automate testing (- WIP #99 & PR #123 -)
  .github/workflows/Tests.yml
Due: none

[PATCH] apply changes from review (- WIP #118 -)
  .github/workflows/Tests.yml
  tests/check_pip
Due: tests

[REGRESSION] fixed a typo (- WIP #118 -)
  .github/workflows/Tests.yml
Due: none

[REGRESSION] fixed a config oversight (- WIP #118 -)
  .github/workflows/Tests.yml
Due: none

[TESTING] renamed step as per discussion (- WIP #118 -)
  .github/workflows/Tests.yml
Due: none

[TESTING] if at first, then try try again (- WIP #118 -)
  .github/workflows/Tests.yml
Due: none

[PATCH] Various cleanup and fixes for PR #118
  .github/workflows/Tests.yml
  docs/conf.py
  docs/requirements.txt
  multicast/__init__.py
  multicast/__main__.py
  multicast/hear.py
  multicast/recv.py
  multicast/send.py
  tests/__init__.py
  tests/test_basic.py
  tests/test_build.py
  tests/test_deps.py
  tests/test_install_requires.py
  tests/test_manifest.py
  tests/test_usage.py
Due: multicast, tests

[DOCUMENTATION] adding lots of extra comments to subdue deepsource's overlooking its own config (- WIP #94 -)
  multicast/__init__.py
  multicast/__main__.py
  multicast/hear.py
  multicast/recv.py
  multicast/send.py
  tests/MulticastUDPClient.py
  tests/__init__.py
  tests/check_cc_lines
  tests/context.py
  tests/profiling.py
  tests/test_basic.py
  tests/test_usage.py
Due: multicast, tests

[STYLE] Fix for possible FLK-W293 (- WIP #94 -)
  multicast/hear.py
Due: multicast

[PATCH] Fixups for deepsource antics and GHA CI config (- WIP #94 & PR #118 -)
  .github/workflows/Tests.yml
  multicast/hear.py
  multicast/recv.py
  multicast/send.py
  tests/MulticastUDPClient.py
Due: multicast, tests

[REGRESSION] Fix for regression with double if in config for CI (- WIP PR #127 -)
  .github/workflows/Tests.yml
Due: none

[PATCH] Fix for more PYL-W0212 false-positives (- WIP #127 -)
  multicast/hear.py
  multicast/recv.py
  multicast/send.py
Due: multicast

[TESTING] possible fix for conditional jobs in GHA CI (- WIP PR #127 -)
  .github/workflows/Tests.yml
Due: none

[FIX] Possible fix for broken TestManifestInclusion suite (- WIP #131 -)
  Makefile
  tests/test_manifest.py
Due: tests

[PATCH] improvements for CI and Bandit GHA workflows (- WIP PR #118 -)
  .github/workflows/Tests.yml
  .github/workflows/bandit.yml
Due: none

[REGRESSION] Deepsource F**ed up again and went on the flake (- WIP #94 -)
  multicast/hear.py
  multicast/recv.py
  tests/test_usage.py
Due: multicast, tests

Version v1.5.0 Release
  tests/test_manifest.py
Due: tests

Changes in file .github/labeler.yml: - Imporved labeler rules - added labeler support for documentation - added labeler some support for invalid (best-effort)
  .github/labeler.yml
  docs/conf.py
  multicast/__init__.py
  setup.cfg
  tests/context.py
  tests/test_build.py
  tests/test_manifest.py
Due: multicast, tests

[UPGRADE] Version 2.0 Development Cycle (- WIP #120 -)
  .circleci/config.yml
  .github/workflows/Tests.yml
  .hound.yml
  .stickler.yml
  pyproject.toml
  requirements.txt
  setup.cfg
  setup.py
  tox.ini
Due: none

Fix typo in tox.ini
  tox.ini
Due: none

[PATCH] fixup for better tox testing (- WIP PR #135 -)
  tox.ini
Due: none

[UPGRADE] Possible fixes for #128 and #129 as discussed.
  tests/context.py
Due: tests
