Repository reactive-firewall/multicast: changes, and which Codecov flags are due for each by the changed paths.
All: multicast, tests

.codecov.yml:

codecov:
  notify:
    wait_for_ci: true
  require_ci_to_pass: true
  max_report_age: off
comment:
  behavior: default
  layout: reach, diff, flags, files, footer
  require_base: false
  require_changes: false
  require_head: true
  show_carryforward_flags: false
coverage:
  precision: 3
  round: nearest
  status:
    changes: false
    default_rules:
      flag_coverage_not_uploaded_behavior: include
    patch: true
    project:
      default:
        target: 95%
        base: auto
        branches:
          - master
          - stageing
          - stable
        if_ci_failed: error
        only_pulls: false
        removed_code_behavior: adjust_base
      multicast:
        target: 95%
        threshold: 1%
        threshold: 1%
        only_pulls: false
        flags:
          - "multicast"
        paths:
          - "multicast/"
          - "setup.py"
          - "!tests/"
      tests:
        target: 80%
        threshold: 1%
        if_ci_failed: ignore
        only_pulls: false
        removed_code_behavior: fully_covered_patch
        flags:
          - "tests"
        paths:
          - tests/
          - "!multicast/"
github_checks:
  annotations: true
flags:
  multicast:
    paths:
      - "multicast/"
      - "!tests/"
  tests:
    paths:
      - "tests/"
      - "!multicast/"

[DOCUMENTATION] expands the documentation of the module (- WIP #79 -)
  multicast/__init__.py
Due: multicast

[DOCUMENTATION] Improved documentation as per #79
  multicast/__main__.py
Due: multicast

[DOCUMENTATION] Corrected exitcode description (no code change) (- WIP #79 -)
  multicast/__main__.py
Due: multicast

[DOCUMENTATION] improved docstrings as discussed in review (- WIP PR #137 -)
  tests/context.py
Due: tests

[DOCUMENTATION] Slight improvement of meta-testing via doctests (- WIP #128 & #129 -)
  tests/context.py
Due: tests

[UPGRADE] improved error handling by implementing error chaining (- WIP #32 -)
  multicast/__init__.py
  multicast/__main__.py
  multicast/hear.py
  multicast/recv.py
  multicast/send.py
  multicast/skt.py
  setup.py
  tests/__init__.py
  tests/context.py
  tests/profiling.py
  tests/test_basic.py
  tests/test_build.py
  tests/test_deps.py
  tests/test_install_requires.py
  tests/test_manifest.py
  tests/test_usage.py
Due: multicast, tests

[HOTFIX] fix for bad labeler config (- WIP #135
  .github/labeler.yml
Due: none

[DOCUMENTATION] minor correction to docstrings for endSocket.
  multicast/__init__.py
  multicast/hear.py
  multicast/recv.py
  multicast/send.py
  multicast/skt.py
Due: multicast

[DOCUMENTATION] Clearified an error message as found in review (- WIP #138 -).
  multicast/__init__.py
Due: multicast

[REGRESSION] Contributes to #53
  .coveragerc
Due: none

[TESTING] testing simpler new-style imports
  multicast/__init__.py
  multicast/__main__.py
  multicast/hear.py
Due: multicast

[TESTING] fixup for last change
  multicast/__init__.py
  setup.py
Due: multicast

[TESTING] implementing basic fuzzing (- WIP #13 -)
  tests/requirements.txt
  tests/test_fuzz.py
Due: tests

[DOCUMENTATION] Added doc strings to new fuzz testing (- WIP #13 -)
  tests/test_fuzz.py
Due: tests

[PATCH] apply as per review (- WIP #13 -)
  tests/test_fuzz.py
Due: tests

[PATCH] workaround for legacy testing
  tests/check_legacy_setup_coverage
Due: tests

[STYLE] fixed spaceing
  tests/test_fuzz.py
Due: tests

[DOCUMENTATION] Resolve documentation conflict with fuzz-testing branch.
  multicast/__main__.py
  multicast/skt.py
Due: multicast

[DOCUMENTATION] Slight improvement to documentation (- WIP #79 -)
  multicast/hear.py
  multicast/recv.py
  multicast/send.py
Due: multicast

[STYLE] Fixed Whitespace (- WIP #79 -)
  multicast/__main__.py
Due: multicast

[STYLE] Various style fixes (- WIP #141 -)
  multicast/__main__.py
Due: multicast

[PATCH] cleaned up documentation regarding usage (- WIP #79 -)
  README.md
  docs/FAQ.md
  docs/USAGE.md
  docs/toc.md
  multicast/__init__.py
  multicast/__main__.py
  multicast/hear.py
  tests/__init__.py
  tests/check_integration_coverage
  tests/test_fuzz.py
  tests/test_usage.py
Due: multicast, tests

updated requirements for docs
  docs/requirements.txt
  tests/requirements.txt
Due: tests

updated requirements for docs again
  docs/requirements.txt
Due: none

updated requirements for check_pip
  .github/workflows/Tests.yml
Due: none

updated export for check_pip
  .github/workflows/Tests.yml
Due: none

[TESTING] ignoring slow network in fuzzing
  tests/test_fuzz.py
Due: tests

[TESTING] improved testing slightly
  tests/check_integration_coverage
  tests/check_legacy_setup_coverage
Due: tests

[FIX] Fixes regression in style checks.
  tests/test_fuzz.py
Due: tests

[COVERAGE] improving coverage slightly
  multicast/hear.py
  tests/MulticastUDPClient.py
  tests/context.py
  tests/test_fuzz.py
  tests/test_usage.py
Due: multicast, tests

Improved handling of shutdown exception in HEAR daemon mode
  multicast/hear.py
  tests/MulticastUDPClient.py
Due: multicast, tests

[STYLE] applied changes from review (- WIP #146 -)
  multicast/hear.py
  tests/MulticastUDPClient.py
Due: multicast, tests

[STYLE] fix for #146
  tests/MulticastUDPClient.py
Due: tests

[STYLE] Another fix like #146
  tests/MulticastUDPClient.py
Due: tests

[SECURITY] Fix for GHSA-2v67-4x3c-889g
  multicast/hear.py
Due: multicast

[SECURITY] Patch for GHSA-2v67-4x3c-889g (BACKPORT)
  multicast/hear.py
Due: multicast

Initial implementation of read-the-docs config
  .readthedocs.yaml
Due: none
