Repository reactive-firewall/multicast: changes, and which Codecov flags are due for each by the changed paths.
All: multicast, tests

.codecov.yml:

codecov:
  notify:
    wait_for_ci: true
  require_ci_to_pass: true
  max_report_age: off
comment:
  behavior: default
  layout: reach, diff, flags, files, footer
  require_base: false
  require_changes: false
  require_head: true
  show_carryforward_flags: false
coverage:
  precision: 3
  round: nearest
  status:
    changes: false
    default_rules:
      flag_coverage_not_uploaded_behavior: include
    patch: true
    project:
      default:
        target: 95%
        base: auto
        branches:
          - master
          - stageing
          - stable
        if_ci_failed: error
        only_pulls: false
        removed_code_behavior: adjust_base
      multicast:
        target: 95%
        threshold: 1%
        threshold: 1%
        only_pulls: false
        flags:
          - "multicast"
        paths:
          - "multicast/"
          - "setup.py"
          - "!tests/"
      tests:
        target: 80%
        threshold: 1%
        if_ci_failed: ignore
        only_pulls: false
        removed_code_behavior: fully_covered_patch
        flags:
          - "tests"
        paths:
          - tests/
          - "!multicast/"
github_checks:
  annotations: true
flags:
  multicast:
    paths:
      - "multicast/"
      - "!tests/"
  tests:
    paths:
      - "tests/"
      - "!multicast/"

[PATCH] fix for mix language syntax typo.
  .github/workflows/makefile-lint.yml
Due: none

[PATCH] minore tweaks to comments and documentation.
  docs/FAQ.md
  tests/__init__.py
Due: tests

[STYLE] Fix for style regression.
  docs/FAQ.md
Due: none

[UPDATE] version bump to latest checkmake bd26d7905e47713ff0bf3b0e5e7b9c55f0d24e53
  .github/workflows/makefile-lint.yml
Due: none

[PATCH] part n+1 of many debugging
  .github/workflows/makefile-lint.yml
Due: none

[DEBUG] part n+2 of many debugging
  .github/tool_checkmake.sh
Due: none

[DEBUG] part n+3 of many debugging
  docs/FAQ.md
Due: none

[DEBUG] part n+4 of many debugging
  .github/tool_checkmake.sh
  tests/check_pip
Due: tests

[DEBUG] part n+5 of many debugging
  .github/tool_checkmake.sh
Due: none

[DEBUG] part n+6 of many debugging
  .github/tool_checkmake.sh
  Makefile
Due: none

[DEBUG] part n+7 of many debugging - exit 0 to allow posing scan alerts
  .github/workflows/bandit.yml
Due: none

[DEBUG] part n+8 of many debugging
  .github/workflows/bandit.yml
  tests/test_usage.py
Due: tests

[PATCH] apply more changes from review (- WIP #184 -)
  .circleci/config.yml
  docs/FAQ.md
  docs/USAGE.md
  docs/conf.py
  tests/check_pip
  tests/context.py
  tests/test_build.py
  tests/test_exceptions.py
  tests/test_hear_cleanup.py
  tests/test_hear_data_processing.py
  tests/test_hear_keyboard_interrupt.py
  tests/test_hear_server_activate.py
Due: tests

[STYLE] Fixed some typos
  tests/context.py
  tests/test_usage.py
Due: tests

Changes in file multicast/exceptions.py: - fix for PYL-W1113 in class ShutdownCommandReceived
  multicast/exceptions.py
  tests/test_exceptions.py
Due: multicast, tests

[TESTING] minor fixes for regression in test coverage
  multicast/exceptions.py
  tests/test_exceptions.py
  tests/test_usage.py
Due: multicast, tests

Version v2.0.0
  docs/conf.py
  multicast/__init__.py
  setup.cfg
Due: multicast

[PATCH] Implements the improvements from #198
  tests/check_pip
Due: tests

[PATCH] Implemented validation logic for #196
  .github/workflows/makefile-lint.yml
  .github/workflows/markdown-lint.yml
Due: none

[PATCH] Implemented groundwork for #191.
  tests/check_pip
Due: tests

[UPGRADE] Version Bump to v2.0.1
  .github/CONTRIBUTING.md
  LICENSE.md
  Makefile
  README.md
  docs/CI.md
  docs/FAQ.md
  docs/Makefile
  docs/USAGE.md
  docs/conf.py
  docs/index.md
  docs/requirements.txt
  docs/toc.md
  multicast/__init__.py
  multicast/__main__.py
  multicast/exceptions.py
  multicast/hear.py
  multicast/recv.py
  multicast/send.py
  multicast/skt.py
  requirements.txt
  setup.cfg
  setup.py
  tests/MulticastUDPClient.py
  tests/__init__.py
  tests/context.py
  tests/profiling.py
  tests/requirements.txt
  tests/test_basic.py
  tests/test_build.py
  tests/test_deps.py
  tests/test_exceptions.py
  tests/test_fuzz.py
  tests/test_hear_cleanup.py
  tests/test_hear_data_processing.py
  tests/test_hear_keyboard_interrupt.py
  tests/test_hear_server.py
  tests/test_hear_server_activate.py
  tests/test_install_requires.py
  tests/test_manifest.py
  tests/test_usage.py
Due: multicast, tests

[DOCUMENTATION] Stable implementation of validation for `DOCS_BUILD_REF` as per #189 Changes in file docs/conf.py: - improved doc-tests to aligne with CEP-7.
  docs/conf.py
Due: none

[DOCUMENTATION] Drafted Exceptions-Guide as per #186
  docs/Exception_Guide.md
  docs/toc.md
  multicast/exceptions.py
Due: multicast

[STYLE] Applied changes as discussed in review (- WIP #227 -)
  .github/workflows/makefile-lint.yml
  .github/workflows/markdown-lint.yml
Due: none

[CONFIG] Re-disable `MD033` markdownlint rule (- WIP #228 -)
  .markdownlint.json
  .markdownlint.yaml
Due: none

[TESTING] Implemented helper function for makefile linting in CI (- #211 -).
  .github/workflows/makefile-lint.yml
Due: none

[DOCUMENTATION] Apply changes as discussed in review (- WIP PR 228 -)
  .markdownlint.json
  .markdownlint.yaml
  LICENSE.md
  Logo.svg
  Makefile
  docs/Exception_Guide.md
  docs/Makefile
  docs/USAGE.md
  docs/toc.md
Due: none

[STYLE] Fixed some typos. :see_no_evil:
  LICENSE.md
  docs/toc.md
Due: none

[DOCUMENTATION] Minor improvements to documentation, as per review discussions (- WIP PR #228 -)
  LICENSE.md
  docs/Exception_Guide.md
Due: none

[DOCUMENTATION] Revert buggy ref links to fix regressions (- WIP PR #228 -)
  docs/Exception_Guide.md
Due: none

[STYLE] Minor fixes (- WIP PR #228 -)
  README.md
  docs/Exception_Guide.md
Due: none

[PATCH] Fix for dropping previously undefined, non-utf8 input (- WIP $188 -)
  multicast/hear.py
  tests/test_hear_data_processing.py
Due: multicast, tests

[DOCUMENTATION] Updated the docstings for recient changes.
  multicast/hear.py
Due: multicast

[DOCUMENTATION] More Documentation Tweaks (- WIP #208 -)
  docs/FAQ.md
  tests/__init__.py
Due: tests

[DOCUMENTATION] Additional comments added (- WIP #209 -)
  .readthedocs.yaml
Due: none

[DOCUMENTATION] Added Comments to CI (- WIP #209 -)
  .github/workflows/Tests.yml
Due: none

[FEATURE] pinned dependancies for npm in CI (- WIP #214 -)
  .github/dependabot.yml
  .github/workflows/markdown-lint.yml
  package.json
Due: none

[DOCUMENTATION] Apply changes as per Review (- WIP PR #228 -)
  .readthedocs.yaml
  docs/FAQ.md
  tests/__init__.py
Due: tests

[CI] Possible fix for regression caused by #214
  .github/workflows/markdown-lint.yml
  package.json
Due: none

[CI] Debug part 1
  .github/workflows/markdown-lint.yml
Due: none
