Repository reactive-firewall/multicast: changes, and which Codecov flags are due for each by the changed paths.
All: multicast, tests

[CI] Fix for CI-BUILD regressions (- WIP PR #448 -)
  .github/workflows/CI-BUILD.yml
Due: none

[FIX] Minor fix for build verification (- WIP PR #448 -)
  .github/actions/checkout-and-rebuild/action.yml
  tests/test_hear_cleanup.py
Due: tests

[PATCH] Revert useless re-verification (- WIP PR #448 -)
  .github/actions/checkout-and-rebuild/action.yml
Due: none

[DEBUG] Possible fix for braindead Windows weirdness (- WIP PR #448 -)
  .github/actions/checkout-and-rebuild/action.yml
Due: none

[STYLE] Fixes and style improvements (- WIP PR #448 -)
  .coderabbit.yaml
  .github/actions/checkout-and-rebuild/action.yml
  pyproject.toml
  tests/MulticastUDPClient.py
  tests/__init__.py
  tests/test_basic.py
  tests/test_build.py
  tests/test_deps.py
  tests/test_extra.py
  tests/test_hear_cleanup.py
  tests/test_hear_keyboard_interrupt.py
  tests/test_manifest.py
  tox.ini
Due: tests

[STYLE] Expanded locale testing stability (- WIP PR #448 -)
  .github/workflows/CI-BUILD.yml
  tests/test_hear_cleanup.py
  tox.ini
Due: tests

[STYLE] Fix for overlooked comment (- WIP PR #448 -)
  tests/test_hear_cleanup.py
Due: tests

[PATCH] Even more Improvements (- WIP PR #448 -)
  .coderabbit.yaml
  .github/actions/purge-test-reporter/action.yml
  .github/dependabot.yml
  .github/workflows/CI-BUILD.yml
  .github/workflows/scorecard.yml
  Makefile
  README.md
  multicast/hear.py
  tests/test_hear_cleanup.py
Due: multicast, tests

[CONFIG] Fix for config regression
  .github/dependabot.yml
Due: none

[HOTFIX] Stability fixes for CI/CD
  .github/workflows/Tests.yml
Due: none

[HOTFIX] Removed Faulty redundant upload step causing a race-condition regression
  .github/workflows/Tests.yml
Due: none

[UPDATE] Eighth Alpha for Version v2.0.9 (- WIP PR #452 -)
  docs/conf.py
  multicast/__init__.py
  pyproject.toml
Due: multicast

[PATCH] First Pass cleanup as found in review (- WIP PR #454 -)
  .gitattributes
  .github/AI_USAGE_POLICY.md
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE.md
  .github/actions/check-control/action.yml
  .github/actions/fetch-test-reporter/action.yml
  .github/actions/purge-test-reporter/action.yml
  .github/actions/run-minimal-acceptance-tests/action.yml
  .github/actions/test-reporter-upload/action.yml
  .github/workflows/CI-BUILD.yml
  .github/workflows/CI-DOCS.yml
  .github/workflows/CI-MATs.yml
  .github/workflows/Tests.yml
  LICENSE.md
  Logo.svg
  README.md
  docs/CI.md
  docs/FAQ.md
  multicast/__init__.py
  multicast/hear.py
  tests/__init__.py
  tests/test_build.py
  tests/test_hear_cleanup.py
  tests/test_hear_server.py
Due: multicast, tests

[HOTFIX] potential fix for GHI #455
  .github/workflows/Tests.yml
Due: none

[HOTFIX] Potential fix for GHI #455
  .github/actions/checkout-and-rebuild/action.yml
Due: none

[HOTFIX] Potential fix for GHI #455
  .github/actions/test-reporter-upload/action.yml
Due: none

[HOTFIX] Possible fix for GHI #455
  .github/workflows/Tests.yml
Due: none

[HOTFIX] Fixed GHI #455
  .github/workflows/CI-BUILD.yml
  .github/workflows/CI-MATs.yml
  .github/workflows/Tests.yml
  multicast/__init__.py
  multicast/hear.py
Due: multicast

[STYLE] More style tweaks (- WIP PR #454 -)
  multicast/__init__.py
Due: multicast

[STYLE] Cleanup for release (- WIP PR #454 -)
  multicast/__init__.py
  multicast/__main__.py
  multicast/recv.py
  multicast/skt.py
  tests/MulticastUDPClient.py
  tests/__init__.py
  tests/context.py
  tests/test_extra.py
  tests/test_fuzz.py
  tests/test_hear_server.py
  tests/test_hear_server_activate.py
  tests/test_usage.py
Due: multicast, tests

[HOTFIX] Regression fix for PR numbers
  .github/workflows/CI-BUILD.yml
Due: none

[CONFIG] YOLO api fix (- WIP PR #454 -)
  .github/workflows/CI-BUILD.yml
Due: none

[CONFIG] regression fix
  .github/workflows/CI-BUILD.yml
Due: none

[STYLE] more churn for the linter (- WIP PR #454 -)
  multicast/__main__.py
  multicast/hear.py
  tests/context.py
Due: multicast, tests

Path conditions:
  multicast: any of: multicast/, but not: tests/
  tests: any of: tests/, but not: multicast/
