Repository reactive-firewall/multicast: changes, and which Codecov flags are due for each by the changed paths.
All: multicast, tests

[CI] Debug part 2 (- WIP PR #228 -)
  .github/workflows/markdown-lint.yml
Due: none

[CI] Debug Part 3 (- WIP PR #228 -)
  .github/workflows/markdown-lint.yml
Due: none

[CI] Debug Part 4 (- WIP PR # 227 -)
  .github/workflows/markdown-lint.yml
  package.json
Due: none

[TESTING] Slight improvement to testing related to #188
  tests/test_hear_data_processing.py
Due: tests

[CI] Debug Part 5 (- WIP PR #227 -)
  .github/workflows/markdown-lint.yml
  package.json
Due: none

[CI] Debug part 6 (- WIP PR #227 -)
  .github/workflows/markdown-lint.yml
Due: none

[DOCUMENTATION] added quickstart guide images. Changes in file docs/toc.md: - :tada: images!
  docs/toc.md
Due: none

[CI] Debug Part 7 (- WIP PR #227 -)
  .github/workflows/markdown-lint.yml
  package.json
Due: none

[CI] Debug Part 9 (- WIP PR #227 -)
  .github/workflows/markdown-lint.yml
  .markdownlint.json
  package.json
Due: none

[CI] Debug Part A (- WIP #227 -)
  package.json
Due: none

[CI] Debug Part B (- WIP PR #227 -)
  package.json
Due: none

[CI] Debug Part C (- WIP PR #227 -)
  package.json
Due: none

[CI] Debug Part D (- WIP PR #227 -)
  .github/workflows/markdown-lint.yml
Due: none

[STYLE] Cleanup after debugging #214
  .github/workflows/markdown-lint.yml
Due: none

[CI] Minor tweaks again (- WIP PR #227 -)
  .github/workflows/markdown-lint.yml
Due: none

[CI] Possible fix for PR #227
  .github/workflows/markdown-lint.yml
Due: none

[STYLE] minor fixed to workflow for PR #227
  .github/workflows/markdown-lint.yml
Due: none

[PATCH] Refactor for more consistant improvements.
  .github/workflows/makefile-lint.yml
  .github/workflows/markdown-lint.yml
Due: none

[STYLE] Minor fixes and tweaks (- WIP PR #227 -)
  .github/workflows/makefile-lint.yml
  .github/workflows/markdown-lint.yml
Due: none

[REVERT] Fall back to LGV makefile-lint.yml (- WIP PR #227 -) Changes in file .github/workflows/makefile-lint.yml: - simplify yaml-linting in makeile-lint.yml
  .github/workflows/makefile-lint.yml
Due: none

[REVERT] Fall back to LGV of markdown-lint (- WIP PR #227 -)
  .github/workflows/markdown-lint.yml
Due: none

[HOTFIX] Update Scorecard action
  .github/workflows/scorecard.yml
Due: none

[UPDATE] Version Bump to 2.0.2
  docs/conf.py
  multicast/__init__.py
  setup.cfg
Due: multicast

[HOTFIX] Removed hardening action from scorecards.yml
  .github/workflows/scorecard.yml
Due: none

[DOCUMENTATION] Added some docstrings (- WIP #183 -)
  docs/conf.py
Due: none

[DOCUMENTATION] Improved module documentation for multicast (- WIP #183 -)
  multicast/__init__.py
Due: multicast

[DOCUMENTATION] Improved docstrings (- WIP #183 -)
  multicast/__main__.py
Due: multicast

[DOCUMENTATION] Improved Docstrings (- WIP #183 -)
  multicast/exceptions.py
Due: multicast

[DOCUMENTATION] Improved docstrings just a little more (- WIP #183 -)
  multicast/exceptions.py
  multicast/hear.py
Due: multicast

[DOCUMENTATION] Improves Docstrings slightly (- WIP #183 -)
  multicast/recv.py
Due: multicast

[STYLE] Minor style changes in test (- WIP #183 -)
  tests/MulticastUDPClient.py
Due: tests

[DOCUMENTATION] Implemented #183 Changes in file tests/MulticastUDPClient.py: - Style refactor for linting.
  tests/MulticastUDPClient.py
  tests/context.py
  tests/test_build.py
Due: tests

[DOCUMENTATION] Possible fix for doumentation error (- WIP #238 -)
  docs/CI.md
Due: none

[DOCUMENTATION] Clearified that custom codes should not conflict with standard ones.
  docs/Exception_Guide.md
Due: none

[DOCUMENTATION] Minor improvements.
  .github/dependabot.yml
  .markdownlint.yaml
Due: none

[UPDATE] Version bump to v2.0.3
  Makefile
  docs/conf.py
  multicast/__init__.py
  setup.cfg
Due: multicast

[PATCH] Increase deadline to fix flaky fuzzing (- WIP #217 -)
  tests/test_fuzz.py
Due: tests

### ChangeLog: Changes in file tests/check_spelling: export -f check_command
  tests/check_spelling
Due: tests

### ChangeLog: Changes in file .github/workflows/Tests.yml: jobs:
  .github/workflows/Tests.yml
Due: none

### ChangeLog: Changes in file .github/workflows/Tests.yml: jobs: name: CI
  .github/workflows/Tests.yml
Due: none

Path conditions:
  multicast: any of: multicast/, but not: tests/
  tests: any of: tests/, but not: multicast/
