Repository reactive-firewall/multicast: changes, and which Codecov flags are due for each by the changed paths.
All: multicast, tests

.codecov.yml:

codecov:
  notify:
    wait_for_ci: true
  require_ci_to_pass: true
  max_report_age: off
comment:
  behavior: default
  layout: reach, diff, flags, files, footer
  require_base: false
  require_changes: false
  require_head: true
  show_carryforward_flags: false
coverage:
  precision: 3
  round: nearest
  status:
    changes: false
    default_rules:
      flag_coverage_not_uploaded_behavior: include
    patch: true
    project:
      default:
        target: 95%
        base: auto
        branches:
          - master
          - stageing
          - stable
        if_ci_failed: error
        only_pulls: false
        removed_code_behavior: adjust_base
      multicast:
        target: 95%
        threshold: 1%
        threshold: 1%
        only_pulls: false
        flags:
          - "multicast"
        paths:
          - "multicast/"
          - "setup.py"
          - "!tests/"
      tests:
        target: 80%
        threshold: 1%
        if_ci_failed: ignore
        only_pulls: false
        removed_code_behavior: fully_covered_patch
        flags:
          - "tests"
        paths:
          - tests/
          - "!multicast/"
github_checks:
  annotations: true
flags:
  multicast:
    paths:
      - "multicast/"
      - "!tests/"
  tests:
    paths:
      - "tests/"
      - "!multicast/"

[PATCH] minor fix for the implementation of read-the-docs config
  .readthedocs.yaml
Due: none

[DOCUMENTATION] Fixes for documentation builds and version bump to 2.0.0-beta
  docs/USAGE.md
  docs/conf.py
  docs/index.md
  docs/toc.md
  multicast/__init__.py
  setup.cfg
  setup.py
  tests/MulticastUDPClient.py
  tests/__init__.py
  tests/context.py
  tests/profiling.py
  tests/test_fuzz.py
  tests/test_install_requires.py
Due: multicast, tests

debug readthedocs strangeness 1
  .readthedocs.yaml
Due: none

debug readthedocs strangeness 2
  .readthedocs.yaml
Due: none

debug readthedocs strangeness 3
  .readthedocs.yaml
Due: none

debug readthedocs strangeness 4
  .readthedocs.yaml
Due: none

debug readthedocs strangeness 6
  .readthedocs.yaml
Due: none

debug readthedocs strangeness 7
  .readthedocs.yaml
Due: none

[PATCH] FIXED readthedocs strangeness
  README.md
Due: none

[PATCH] Apply changes from review (- WIP PR #148 -)
  .flake8.ini
  .yamllint.conf
  Makefile
  docs/USAGE.md
  setup.py
  tests/MulticastUDPClient.py
  tests/check_cc_lines
  tests/check_codecov
  tests/check_integration_coverage
  tests/check_legacy_setup_coverage
  tests/check_pip
  tests/check_spelling
  tests/context.py
  tests/profiling.py
  tests/test_basic.py
  tests/test_build.py
  tests/test_deps.py
  tests/test_fuzz.py
  tests/test_install_requires.py
  tests/test_manifest.py
  tests/test_usage.py
Due: tests

[DOCUMENTATION] Slight improvement of docstrings (- WIP #79 -)
  tests/MulticastUDPClient.py
Due: tests

[DOCUMENTATION] Improved docstring coverage a bunch (- WIP #79 -)
  multicast/__init__.py
  multicast/__main__.py
  multicast/hear.py
  multicast/recv.py
  multicast/send.py
  multicast/skt.py
Due: multicast

Apply suggestions from code review
  multicast/__main__.py
  multicast/hear.py
  multicast/recv.py
Due: multicast

Update multicast/recv.py
  multicast/recv.py
Due: multicast

Apply suggestions from code review
  .github/workflows/Tests.yml
  docs/requirements.txt
  multicast/hear.py
  multicast/recv.py
  tests/context.py
Due: multicast, tests

[PATCH] Apply suggestions from code review (- WIP PR #148 -)
  multicast/__main__.py
Due: multicast

Apply suggestions from code review
  tests/context.py
Due: tests

[REGRESSION] fix for testing covrage regression (- WIP #55 & PR #148 -)
  multicast/hear.py
  multicast/recv.py
Due: multicast

[PATCH] Apply suggestions from code review (- WIP PR #148 -)
  multicast/hear.py
Due: multicast

[PATCH] fixes for integration testing script (- WIP #55 -)
  tests/check_integration_coverage
Due: tests

[TESTING] Use version to parse versions
  tests/context.py
  tests/requirements.txt
  tests/test_build.py
  tests/test_manifest.py
Due: tests

[TESTING] Implemented idea to use packaging to parse PEP 440 versions (- WIP #156 -)
  tests/context.py
Due: tests

[CI] Added yaml and markdown linting jobs to CI
  .coderabbit.yaml
  .github/workflows/markdown-lint.yml
  .github/workflows/yaml-lint.yml
  .markdownlint.json
  .markdownlint.yaml
Due: none

[CI] Implemented makefile linter workflow (- WIP #55 -)
  .github/workflows/makefile-lint.yml
Due: none

[TESTING] Implemented check_command in test scripts (- WIP #126 -)
  tests/check_cc_lines
  tests/check_codecov
  tests/check_integration_coverage
  tests/check_legacy_setup_coverage
  tests/check_pip
  tests/check_spelling
Due: tests

[DOCUMENTATION] implemented dynamic branch feature for docs (- WIP #113 -)
  .circleci/config.yml
  .github/workflows/Tests.yml
  docs/FAQ.md
  docs/Makefile
  docs/conf.py
Due: none

Fix for .github/workflows/makefile-lint.yml
  .github/workflows/makefile-lint.yml
Due: none

Update .github/workflows/makefile-lint.yml
  .github/workflows/makefile-lint.yml
Due: none

Fix for .github/workflows/Tests.yml
  .github/workflows/Tests.yml
Due: none

Minor fix for tests/check_pip
  tests/check_pip
Due: tests

[PATCH] fix to install go-lang for checkmake (- WIP #159 -)
  .github/workflows/makefile-lint.yml
Due: none

[FIX] added possible fix for #161
  tests/check_pip
Due: tests

[PATCH] cleaned up the initial fix for check_pip (- WIP #161 -)
  tests/check_pip
Due: tests

[REGRESSION] possible fix for check_pip (- WIP #161 -)
  .github/workflows/Tests.yml
  tests/check_pip
Due: tests

[PATCH] possible fix for makefile-lint
  .github/workflows/makefile-lint.yml
Due: none

[PATCH] possible fix for makefile-lint part 2
  .github/workflows/makefile-lint.yml
Due: none

[PATCH] possible fix for makefile-lint part 3
  .github/workflows/makefile-lint.yml
Due: none

[PATCH] possible fix for makefile-lint part 4
  .github/workflows/makefile-lint.yml
Due: none

[PATCH] possible fix for makefile-lint part 5
  .github/workflows/makefile-lint.yml
Due: none
