Repository reactive-firewall/multicast: changes, and which Codecov flags are due for each by the changed paths.
All: multicast, tests

[TESTS] Proof of concept of codecov-test-results action in GHA (- WIP #13 -)
  .github/workflows/Tests.yml
Due: none

[TESTS] minor tweak to configs for new test action (- WIP #13 -)
  .github/workflows/Tests.yml
Due: none

[COVERAGE] slight improvement of code coverage
  tests/context.py
  tests/test_basic.py
Due: tests

[COVERAGE] Minor improvement to coverage scope to ignore missing skips of unskipped tests (- WIP #13 & #46 -)
  .coveragerc
Due: none

[COVERAGE] add additional coverage testing for legacy build system (- WIP #46 & #49 & #50 -)
  .github/workflows/Tests.yml
  Makefile
  pyproject.toml
  tests/check_legacy_setup_coverage
Due: tests

[DOCUMENTATION] Update as per discussion (- WIP #39 -)
  README.md
Due: none

[STYLE] Fix for duplicate line in .codecov.yml config file (- WIP #51 -)
  .codecov.yml
Due: none

[TESTS] version bump (- WIP #52 -)
  .github/workflows/codeql-analysis.yml
Due: none

[FIX] re-version bump (- WIP #52 -)
  .github/workflows/codeql-analysis.yml
Due: none

[FIX] Various fixes for PR #51 as discussed in own code review. (- WIP #51 -)
  .coveragerc
  .github/CONTRIBUTING.md
  LICENSE.md
  Makefile
  multicast/__init__.py
  multicast/__main__.py
  multicast/hear.py
  multicast/recv.py
  multicast/send.py
  multicast/skt.py
  requirements.txt
  tests/MulticastUDPClient.py
  tests/__init__.py
  tests/context.py
  tests/profiling.py
  tests/test_basic.py
  tests/test_usage.py
Due: multicast, tests

Apply select suggestions from code review
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/workflows/Tests.yml
  multicast/hear.py
  multicast/skt.py
  tests/context.py
Due: multicast, tests

[STYLE] Apply additional suggestions from code review
  multicast/hear.py
  tests/check_legacy_setup_coverage
Due: multicast, tests

[REGRESSION] fix for regression caused by previous commit (- WIP #51 -)
  multicast/__init__.py
  multicast/__main__.py
  multicast/hear.py
  multicast/recv.py
  multicast/send.py
  multicast/skt.py
  setup.cfg
  setup.py
  tests/MulticastUDPClient.py
  tests/__init__.py
  tests/context.py
  tests/profiling.py
  tests/test_basic.py
  tests/test_usage.py
Due: multicast, tests

[REGRESSION] various tweaks to hopefully improve code coverage (- WIP #53 & #59 -)
  .coveragerc
  Makefile
  multicast/hear.py
  pyproject.toml
  tests/MulticastUDPClient.py
  tests/test_usage.py
Due: multicast, tests

[DOCUMENTATION] Added some more documentation on the default values used (- FIX #57 & #61 -) (- WIP #56 & #62 -)
  README.md
  multicast/__init__.py
  setup.cfg
Due: multicast

Create dependabot.yml
  .github/dependabot.yml
Due: none

[REGRESSION] fix syntax of labeler configs (- FIX PR #63 -)
  .github/labeler.yml
Due: none

[FIX] Stability fix for error handling (- WIP #67 -)
  multicast/__main__.py
Due: multicast

Create bandit.yml
  .github/workflows/bandit.yml
Due: none

Update bandit.yml
  .github/workflows/bandit.yml
Due: none

[STYLE] Improved input checking durring bootstrap (- WIP #70 -)
  setup.py
Due: none

Update .github/workflows/bandit.yml to point at own fork
  .github/workflows/bandit.yml
Due: none

Update .github/workflows/bandit.yml to test auto-fixes
  .github/workflows/bandit.yml
Due: none

[PATCH] Improves on fix by using function to practice the D.R.Y. principle (- WIP #71 -)
  setup.py
Due: none

[PATCH] Applied changes as disscussed in review (- WIP #71 -)
  setup.py
Due: none

[REGRESSION] fix for typo in setup.py :hear_no_evil:
  setup.py
Due: none

[DOCUMENTATION] Minor update to project README (- Fixes #72 -)
  README.md
Due: none

[TESTS] Reconciled testing dependencies via new 'tests/requirements.txt' manifest (- WIP #60 -)
  .github/dependabot.yml
  .github/labeler.yml
  .github/workflows/Tests.yml
  Makefile
  pyproject.toml
  setup.cfg
  test-requirements.txt
  tests/requirements.txt
  tox.ini
Due: tests

[STYLE] fix for bad whitespace style-testing violation
  tests/MulticastUDPClient.py
Due: tests

[REGRESSION] fix for regression in Makefile (- WIP #60 -)
  Makefile
Due: none

[HOTFIX] fix for some makefile bugs
  Makefile
Due: none

[HOTFIX] fix for some test dependency conflicts
  tests/requirements.txt
Due: tests

[HOTFIX] fix for some more test dependency conflicts with PEP-517
  tests/requirements.txt
Due: tests

Apply suggestions from code review
  .github/workflows/Tests.yml
  setup.cfg
Due: none

[CONFIGURATION] Added support for setting the default error logging path in the main Makefile (- WIP #77 -)
  Makefile
Due: none

[PATCH] Minor improvements to 'check_legacy_setup_coverage' (- WIP #77 -)
  tests/check_legacy_setup_coverage
Due: tests

[TESTS] Testing possible fix for PYL-C0414 (- WIP #80 -)
  tests/__init__.py
  tests/context.py
  tests/profiling.py
  tests/test_basic.py
  tests/test_usage.py
Due: tests

[STYLE] Improvements to portability and maintainability of pip durring bootstrap (- WIP #84 -)
  Makefile
Due: none

[REGRESSION] Fixed a minor typo (- WIP #84 -)
  Makefile
Due: none

Path conditions:
  multicast: any of: multicast/, but not: tests/
  tests: any of: tests/, but not: multicast/
