Repository reactive-firewall/multicast: changes, and which Codecov flags are due for each by the changed paths.
All: multicast, tests

.codecov.yml:

codecov:
  notify:
    wait_for_ci: true
  require_ci_to_pass: true
  max_report_age: off
comment:
  behavior: default
  layout: reach, diff, flags, files, footer
  require_base: false
  require_changes: false
  require_head: true
  show_carryforward_flags: false
coverage:
  precision: 3
  round: nearest
  status:
    changes: false
    default_rules:
      flag_coverage_not_uploaded_behavior: include
    patch: true
    project:
      default:
        target: 95%
        base: auto
        branches:
          - master
          - stageing
          - stable
        if_ci_failed: error
        only_pulls: false
        removed_code_behavior: adjust_base
      multicast:
        target: 95%
        threshold: 1%
        threshold: 1%
        only_pulls: false
        flags:
          - "multicast"
        paths:
          - "multicast/"
          - "setup.py"
          - "!tests/"
      tests:
        target: 80%
        threshold: 1%
        if_ci_failed: ignore
        only_pulls: false
        removed_code_behavior: fully_covered_patch
        flags:
          - "tests"
        paths:
          - tests/
          - "!multicast/"
github_checks:
  annotations: true
flags:
  multicast:
    paths:
      - "multicast/"
      - "!tests/"
  tests:
    paths:
      - "tests/"
      - "!multicast/"

[PATCH] Applied changes as per review (- WIP PR #384 -)
  .github/tools/cioutput.py
Due: none

[PATCH] Apply changes from review (- WIP PR #384 -)
  .github/actions/checkout-and-rebuild/action.yml
  .github/workflows/CI-MATs.yml
  tests/check_cc_lines
Due: tests

[TESTING] Revert issue with exceptions found in review (- WIP #384 -)
  tests/__init__.py
Due: tests

[CONFIG] fix for missing env value in action (- WIP PR #384 -)
  .github/actions/checkout-and-rebuild/action.yml
Due: none

[FEATURE] Fixed a major bug in new tool (- WIP #265 -)
  .github/tools/cioutput.py
Due: none

[STYLE] re:re:re fixed typo
  .github/workflows/CI-MATs.yml
Due: none

[CONFIG] apply changes from review (- WIP PR #384 -) Changes in file .github/actions/checkout-and-rebuild/action.yml: * fix int vs string issue
  .github/actions/checkout-and-rebuild/action.yml
Due: none

[STYLE] Suppress linter noise for PYL-E0603 false-positives (- WIP PR #385 -)
  multicast/__init__.py
Due: multicast

[STYLE] Added comments to suppress noisy linter (- WIP PR #385 -)
  multicast/__init__.py
  multicast/hear.py
Due: multicast

[PATCH] Apply suggestions from code review (- WIP PR #385 -)
  docs/FAQ.md
  multicast/__main__.py
  multicast/env.py
  tests/test_basic.py
  tests/test_hear_keyboard_interrupt.py
Due: multicast, tests

[PATCH] Apply suggestions from code review (- WIP PR #385 -)
  multicast/__main__.py
  multicast/env.py
  multicast/exceptions.py
  multicast/hear.py
  multicast/skt.py
Due: multicast

[PATCH] Oops one more from review (- WIP PR #385 -)
  tests/__init__.py
Due: tests

[TESTING] Debugging CI/CD for GHI #338
  .github/workflows/CD-PyPi.yml
  .github/workflows/CI-MATs.yml
  multicast/__init__.py
Due: multicast

[TESTING] Debugging CI/CD for GHI #338
  .github/actions/checkout-and-rebuild/action.yml
Due: none

Update action.yml (- WIP #338 -)
  .github/actions/checkout-and-rebuild/action.yml
Due: none

[PATCH] Testing new workflow for GHI #338
  .github/actions/checkout-and-rebuild/action.yml
  .github/workflows/CI-MATs.yml
  Makefile
Due: none

[PATCH] Testing CI/CD for GHI #338
  .github/workflows/CI-MATs.yml
Due: none

[PATCH] Testing CI/CD for GHI #338
  .github/actions/checkout-and-rebuild/action.yml
  .github/workflows/CI-MATs.yml
Due: none

[PATCH] Minor fixes for v2.0.7.post1 for GHI #338
  .github/workflows/CD-PyPi.yml
  .github/workflows/CI-MATs.yml
Due: none

[PATCH] Fix for use of pipefail by GHA
  .github/workflows/CI-MATs.yml
Due: none

[PATCH] Fix another regression for v2.0.7.post2
  .github/workflows/CD-PyPi.yml
Due: none

[PATCH] Minor tweak for CI/CD (- WIP #338 -)
  .github/workflows/CI-MATs.yml
Due: none

[COVERAGE] don't complain about test-code for project-wide stats (- WIP #365 -)
  tests/MulticastUDPClient.py
  tests/run_selective.py
Due: tests

[PATCH] Apply suggestions from code review (- WIP PR #388 -)
  tests/MulticastUDPClient.py
Due: tests

[TESTING] Minor improvement for MATs status (- WIP #338 -)
  .github/workflows/CI-MATs.yml
Due: none

[UPDATE] Version v2.0.8 (Alpha)
  .github/labeler.yml
  Makefile
  docs/conf.py
  multicast/__init__.py
  setup.cfg
Due: multicast

[STYLE] Style cleanup for v2.0.8-alpha
  Makefile
Due: none

[STAGE] Update .github/workflows/CI-BUILD.yml for v2.0.8-alpha (- WIP PR #389 -)
  .github/workflows/CI-BUILD.yml
Due: none

[DOCUMENTATION] Updated documentation for PyPi project changes.
  README.md
  docs/CI.md
  docs/Environment_Configuration.md
  docs/Exception_Guide.md
  docs/FAQ.md
  docs/USAGE.md
  docs/index.md
  docs/toc.md
Due: none

[STYLE] Removed trailing space for markdown style
  README.md
Due: none

[UPDATE] Version bump for next cycle
  docs/conf.py
  multicast/__init__.py
  setup.cfg
Due: multicast

[FEATURE] Initial implementation of the pipe option (- WIP #216 -)
  README.md
  docs/USAGE.md
  multicast/__init__.py
  multicast/send.py
  tests/check_integration_coverage
Due: multicast, tests

[PATCH] Apply Changes found in review (- WIP PR #392 -)
  multicast/send.py
  tests/check_integration_coverage
Due: multicast, tests

[STYLE] Oops, missed a typo (- WIP PR #392 -)
  tests/check_integration_coverage
  tests/check_spelling
Due: tests

[CONFIG] Testing build and docs settings (- WIP #338 -)
  .github/workflows/CI-BUILD.yml
  .github/workflows/CI-DOCS.yml
Due: none

[CONFIG] More Config for CI-BUILD (- WIP #338 -)
  .github/workflows/CI-BUILD.yml
Due: none

[CONFIG] Improvements for build-info.txt (- WIP #338 -)
  .github/workflows/CI-BUILD.yml
Due: none

[CONFIG] more tweaks to CI configs (- WIP #338 -)
  .github/workflows/CI-BUILD.yml
  .github/workflows/CI-MATs.yml
Due: none

[CONFIG] Testing more changes to CI/CD (- WIP #338 -)
  .github/workflows/CI-BUILD.yml
  .github/workflows/Tests.yml
Due: none
