Repository reactive-firewall/multicast: changes, and which Codecov flags are due for each by the changed paths.
All: multicast, tests

[PATCH] possible fix for makefile-lint part 6
  .github/workflows/makefile-lint.yml
Due: none

[PATCH] possible fix for makefile-lint part 7
  .github/tool_checkmake.sh
  .github/workflows/makefile-lint.yml
Due: none

[PATCH] possible fix for makefile-lint part 8
  .github/tool_checkmake.sh
Due: none

[UPDATE] Apply suggestions from code review
  .coderabbit.yaml
  .github/tool_checkmake.sh
Due: none

[DOCUMENTATION] reformatting markdown as per linting (- WIP #79 & PR #159 -)
  LICENSE.md
Due: none

[DOCUMENTATION] reformatting markdown as per linting (- WIP PR #159 -)
  README.md
Due: none

[DOCUMENTATION] Updated and reformated as per linting (- WIP #73 & PR #159 -)
  docs/CI.md
Due: none

[PATCH] more fixes for CI.md
  docs/CI.md
Due: none

[DOCUMENTATION] Reformating FAQ as per linter (- WIP PR #159 -)
  docs/FAQ.md
Due: none

[DOCUMENTATION] reformated as per linter (- WIP PR #159 -)
  docs/USAGE.md
Due: none

[DOCUMENTATION] Reformated as per linter (- WIP PR #159 -)
  docs/index.md
  docs/toc.md
Due: none

[PATCH] Fixed some typos
  LICENSE.md
  docs/CI.md
  docs/FAQ.md
Due: none

[PATCH] Fixed some typos Part 2
  docs/CI.md
  docs/FAQ.md
  docs/USAGE.md
Due: none

[PATCH] Fixed some typos Part 3
  docs/CI.md
  docs/FAQ.md
  docs/toc.md
Due: none

[PATCH] Fixed some typos Part 4
  docs/FAQ.md
  docs/toc.md
Due: none

[PATCH] Fixed some typos Part 5
  docs/FAQ.md
Due: none

[PATCH] Fixed some typos Part 6
  docs/FAQ.md
Due: none

[PAATCH] Apply suggestions from code review
  .github/tool_checkmake.sh
  LICENSE.md
Due: none

[PATCH] Fixed some typos Part 7
  docs/FAQ.md
Due: none

[PATCH] Update docs/FAQ.md
  docs/FAQ.md
Due: none

[REGRESSION] Possible workaround part 1
  requirements.txt
  tests/check_pip
  tests/requirements.txt
Due: tests

[REGRESSION] Possible workaround part 2
  multicast/recv.py
  tests/test_deps.py
  tests/test_usage.py
Due: multicast, tests

[REGRESSION] Reformated FAQ a bit as per linter
  docs/FAQ.md
Due: none

[REGRESSION] Reformated FAQ a bit as per linter Part 2
  docs/FAQ.md
Due: none

[PATCH] Apply suggestions from code review
  tests/check_pip
Due: tests

[REGRESSION] Possible fix for check_pip n+1 (- PR #161 -)
  tests/check_pip
Due: tests

Update tests/check_pip as per review
  tests/check_pip
Due: tests

[REGRESSION] Possible fix for check_pip 3 (- PR #161 -)
  .github/workflows/Tests.yml
Due: none

[REGRESSION] Possible fix for check_pip 4 (- PR #161 -)
  .github/workflows/Tests.yml
Due: none

[DOCUMENTATION] minor documentation update.
  tests/check_pip
Due: tests

[TESTING] New test for TestHearMissingParams. (- WIP #53 -)
  tests/test_hear_missing_params.py
Due: tests

[TESTING] New test for TestHearSocketException. (- WIP #53 -)
  tests/test_hear_socket_exception.py
Due: tests

[TESTING] New test for TestHearDataProcessing. (- WIP #53 -)
  tests/test_hear_data_processing.py
Due: tests

[TESTING] New test for TestHearDaemonMode. (- WIP #53 -)
  tests/test_hear_daemon_mode.py
Due: tests

[TESTING] New test for TestHearSocketErrors. (- WIP #53 -)
  tests/test_hear_socket_errors.py
Due: tests

[TESTING] New test for TestHearCleanup. (- WIP #53 -)
  tests/test_hear_cleanup.py
Due: tests

[TESTING] New test for TestRecvInvalidSocket. (- WIP #53 -)
  tests/test_recv_invalid_socket.py
Due: tests

[TESTING] New test for TestRecvExceptionHandling. (- WIP #53 -)
  tests/test_recv_exception_handling.py
Due: tests

[TESTING] New test for TestRecvDataProcessing. (- WIP #53 -)
  tests/test_recv_data_processing.py
Due: tests

[TESTING] New test for TestRecvDaemonMode. (- WIP #53 -)
  tests/test_recv_daemon_mode.py
Due: tests

Path conditions:
  multicast: any of: multicast/, but not: tests/
  tests: any of: tests/, but not: multicast/
