Repository reactive-firewall/multicast: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, multicast

[TESTS] CI testing ( PR#10 )
  .circleci/config.yml
Due: none

[TESTS] CI testing ( PR#10 )
  .circleci/config.yml
  tests/check_codecov
Due: unittests

[TESTS] CI testing ( PR#10 )
  .github/workflows/labler.yml
Due: none

Ci re work #3 (#10)
  .appveyor.yml
  .circleci/config.yml
  .codecov.yml
  .github/workflows/Labeler.yml
  .github/workflows/Tests.yml
  .github/workflows/labler.yml
  Makefile
  README.md
  setup.cfg
  setup.py
  tests/check_codecov
Due: unittests, multicast

[STYLE] fix for appvoyer CI badge
  README.md
Due: none

[STYLE] Fix for W293 blank line contains whitespace in __main__.py
  multicast/__main__.py
Due: multicast

[STYLE] Fix for W293 blank lines contains whitespace in recv.py
  multicast/recv.py
Due: multicast

[STYLE] Fix for F401 'tests.context' imported but unused
  tests/__init__.py
Due: unittests

[STYLE] Fix for W293 blank lines contains whitespace in context.py
  tests/context.py
Due: unittests

[CONFIG] update git atters
  .gitattributes
Due: none

[TESTS] Improved the integration test-flow a little for clearity
  multicast/send.py
  tests/test_usage.py
Due: unittests, multicast

[TESTS] fixed a logic typo in coverage script
  tests/check_codecov
Due: unittests

[TESTS] Improvement for visibility via CI-testing with pytest doctests
  .appveyor.yml
  .circleci/config.yml
  Makefile
Due: none

[STYLE] Fix for codebeat.io badge in README.md
  README.md
Due: none

[STYLE] fixed some linter barff
  multicast/recv.py
  tests/__init__.py
  tests/context.py
  tests/test_usage.py
Due: unittests, multicast

[STYLE] reduced some complexity in test utilities
  tests/context.py
Due: unittests

[STYLE] reduced some complexity in test utilities
  tests/context.py
  tests/test_usage.py
Due: unittests

[STYLE] reduced some more complexity in test utilities
  tests/context.py
Due: unittests

[STYLE] removed some linter snags
  tests/test_usage.py
Due: unittests

[TESTS] Slight increase in testing code coverage
  Makefile
  tests/test_usage.py
Due: unittests

[REGRESSION] fix for older python
  tests/test_usage.py
Due: unittests

[REGRESSION] fix for logic regression bug
  multicast/recv.py
Due: multicast

[TESTS] added more coverage tools
  .github/workflows/Tests.yml
Due: none

[REGRESSION] fix for syntax regression bug
  .github/workflows/Tests.yml
Due: none

[REGRESSION] bypass for syntax regression
  .github/workflows/Tests.yml
Due: none

[REGRESSION] fix for windows testing regression bug
  .github/workflows/Tests.yml
Due: none

[REGRESSION] fix for windows regression bug
  .github/workflows/Tests.yml
Due: none

[REGRESSION] another workaround for windows
  .github/workflows/Tests.yml
Due: none

[TESTS] unstable testing update
  tests/test_usage.py
Due: unittests

[FIX] improved code coverage a bit
  multicast/__init__.py
  multicast/__main__.py
  multicast/recv.py
  multicast/send.py
  setup.cfg
  setup.py
Due: multicast

[REGRESSION] improved style as per linters
  multicast/__main__.py
  multicast/recv.py
  multicast/send.py
Due: multicast

[REGRESSION] fix for #12
  multicast/__main__.py
  tests/test_usage.py
Due: unittests, multicast

[REGRESSION] fix for #6
  tests/check_cc_line.bash
Due: unittests

[TESTS] added integration test attempt (unstable)
  tests/test_usage.py
Due: unittests

[REGRESSION] minor fix for regression in style
  tests/test_usage.py
Due: unittests

[TESTS] slight improvement for test utilities by refactor
  tests/context.py
Due: unittests

[TESTS] WIP #17 - ( Closes #15 )
  .coveragerc
  Makefile
  tests/__init__.py
  tests/check_codecov
  tests/check_spelling
  tests/context.py
  tests/test_usage.py
Due: unittests

Path conditions:
  unittests: any of: tests/*
  multicast: any of: multicast/*.py, setup.py
