Repository reactive-firewall/multicast: changes, and which Codecov flags are due for each by the changed paths.
All: multicast, tests

.codecov.yml:

codecov:
  notify:
    wait_for_ci: true
  require_ci_to_pass: true
  max_report_age: off
comment:
  behavior: default
  layout: reach, diff, flags, files, footer
  require_base: false
  require_changes: false
  require_head: true
  show_carryforward_flags: false
coverage:
  precision: 3
  round: nearest
  status:
    changes: false
    default_rules:
      flag_coverage_not_uploaded_behavior: include
    patch: true
    project:
      default:
        target: 95%
        base: auto
        branches:
          - master
          - stageing
          - stable
        if_ci_failed: error
        only_pulls: false
        removed_code_behavior: adjust_base
      multicast:
        target: 95%
        threshold: 1%
        threshold: 1%
        only_pulls: false
        flags:
          - "multicast"
        paths:
          - "multicast/"
          - "setup.py"
          - "!tests/"
      tests:
        target: 80%
        threshold: 1%
        if_ci_failed: ignore
        only_pulls: false
        removed_code_behavior: fully_covered_patch
        flags:
          - "tests"
        paths:
          - tests/
          - "!multicast/"
github_checks:
  annotations: true
flags:
  multicast:
    paths:
      - "multicast/"
      - "!tests/"
  tests:
    paths:
      - "tests/"
      - "!multicast/"

[CONFIG] Enable ast-grep utils for coderabbitai (- WIP #332 -)
  .coderabbit.yaml
Due: none

[STYLE] Fixed a minor typo (- WIP PR #379 -)
  .ast-grep/utils/python/content/multicast-mtool-subclass-implementation.yml
  tests/check_spelling
Due: tests

[STYLE] Apply Changes from review (- WIP PR #379 -)
  .ast-grep/rules/multicast-rule-server-implementation-pattern-dostep.yml
  .ast-grep/utils/python/structure/multicast-mtool-subclass.yml
Due: none

[STYLE] Apply changes found in review (- WIP PR #379 -)
  .ast-grep/utils/python/structure/multicast-mtool-subclass-definitions/decorated_function_definition.yml
  .ast-grep/utils/python/structure/multicast-mtool-subclass-definitions/undecorated_function_definition.yml
Due: none

[CONFIG] Possible solution for #365
  .github/workflows/Tests.yml
Due: none

[CONFIG] More tweaks for codecov config (- WIP #365 -)
  .github/workflows/Tests.yml
Due: none

[TESTING] Testing another config tweak (- WIP #365 -)
  .github/workflows/Tests.yml
Due: none

[TESTING] more coverage tweaks (- WIP #365 -)
  .github/workflows/Tests.yml
Due: none

[PATCH] Various pre-release chores (- WIP #365 -)
  .github/CODE_OF_CONDUCT.md
  .github/ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/Tests.yml
  Makefile
  tests/__init__.py
  tests/check_integration_coverage
  tests/test_basic.py
  tests/test_build.py
  tests/test_extra.py
  tests/test_fuzz.py
Due: tests

[CONFIG] Minor fix for config (- WIP #365 -)
  .github/workflows/Tests.yml
Due: none

[TESTING] Minor improvement to test performance.
  tests/test_basic.py
Due: tests

[FEATURE] Initial implementation of cioutput.py (- WIP #265 -)
  .github/tools/cioutput.py
  tests/check_spelling
Due: tests

[FEATURE] Improved implementation of new cioutput tool (- WIP #265 -)
  .github/tools/cioutput.py
  Makefile
  pytest.ini
  tests/__init__.py
  tests/check_pip
  tests/check_spelling
Due: tests

[FEATURE] Slight improvement to new tool (- WIP #265 -)
  .github/tools/cioutput.py
  pytest.ini
Due: none

[STYLE] Refactor error/excetption handling to be more consistant (- WIP #271 -)
  docs/Exception_Guide.md
  docs/USAGE.md
  multicast/__init__.py
  multicast/__main__.py
  multicast/env.py
  multicast/exceptions.py
  multicast/hear.py
  multicast/recv.py
  multicast/skt.py
  setup.py
  tests/MulticastUDPClient.py
  tests/__init__.py
  tests/context.py
  tests/profiling.py
  tests/test_basic.py
  tests/test_build.py
  tests/test_deps.py
  tests/test_fuzz.py
  tests/test_hear_cleanup.py
  tests/test_hear_data_processing.py
  tests/test_hear_keyboard_interrupt.py
  tests/test_hear_server.py
  tests/test_hear_server_activate.py
  tests/test_install_requires.py
  tests/test_manifest.py
  tests/test_recv.py
  tests/test_usage.py
  tox.ini
Due: multicast, tests

[DOCUMENTATION] minor refactor of example exception handling (- WIP #271 -)
  docs/FAQ.md
Due: none

[FEATURE] More refactoring with new tool (- WIP #265 -)
  tests/check_cc_lines
Due: tests

[PATCH] review and improve build GHA workflow (- WIP #265 -)
  .github/workflows/CI-BUILD.yml
  tests/check_cc_lines
Due: tests

[CONFIG] Testing build workflow tweaks (- WIP #338 -)
  .github/workflows/CI-BUILD.yml
Due: none

Changes in file .github/workflows/CI-BUILD.yml: jobs:
  .github/workflows/CI-BUILD.yml
Due: none

[CONFIG] Testing build attest (- WIP #338 -)
  .github/workflows/CI-BUILD.yml
Due: none

[CONFIG] Testing just build artifacts (- WIP #338 -)
  .github/workflows/CI-BUILD.yml
Due: none

[CONFIG] Tweaked Build file paths slightly
  .github/workflows/CI-BUILD.yml
Due: none

[CONFIG] Testing build atrifacts (- WIP #338 -)
  .github/workflows/CI-BUILD.yml
Due: none

[CONFIG] Fixup from testing build artifacts (- WIP #338 -)
  .github/workflows/CI-BUILD.yml
Due: none

[CONFIG] Groundwork for Build artifacts (- WIP #338 -)
  .github/workflows/CI-BUILD.yml
Due: none

[CONFIG] Breaking changes for MATs (- WIP #338 -)
  .github/actions/checkout-and-rebuild/action.yml
  .github/tools/checkmake.bash
  .github/tools/shlock_helper.sh
  .github/workflows/CI-MATs.yml
Due: none

[PATCH] adding soft-links for renamed tools (- WIP #265 -)
  .github/tool_checkmake.sh
  .github/tool_shlock_helper.sh
  .github/tools/checkmake.sh
Due: none

[TESTING] Fixes found in testing (- WIP PR #384 -)
  .github/actions/checkout-and-rebuild/action.yml
  .github/tool_checkmake.sh
  .github/tools/checkmake.sh
Due: none

Opps, found a regression.
  .github/workflows/CI-DOCS.yml
Due: none

Update .github/workflows/scorecard.yml to correct value
  .github/workflows/scorecard.yml
Due: none

[TESTING] minor fix for check_cc_lines found in review (- WIP PR #384 -)
  tests/check_cc_lines
Due: tests

[STYLE] minor changes found in review (- WIP PR #384 -)
  tests/__init__.py
  tests/context.py
Due: tests

[STYLE] Ironic typo in check_spelling (- WIP PR #384 -)
  tests/check_spelling
Due: tests

[STYLE] Standardized code-style a bit (- WIP PR #384 -)
  tests/check_spelling
Due: tests

[CONFIG] Fix for double checkout (- WIP PR #384 -)
  .github/actions/checkout-and-rebuild/action.yml
Due: none

[CONFIG] Fix for getting the branch name on a detached checkout (- WIP #338 -)
  .github/actions/checkout-and-rebuild/action.yml
Due: none

[PATCH] More fixes from review (- WIP PR #384 -)
  .github/workflows/CI-MATs.yml
Due: none

[CONFIG] Another fix found in review (- WIP PR #384 -)
  .github/workflows/CI-MATs.yml
Due: none

[STYLE] Fixed another typo found in review (- WIP PR #384 -)
  .github/tools/cioutput.py
  tests/check_spelling
Due: tests
