Repository reactive-firewall/multicast: changes, and which Codecov flags are due for each by the changed paths.
All: multicast, tests

.codecov.yml:

codecov:
  notify:
    wait_for_ci: true
  require_ci_to_pass: true
  max_report_age: off
comment:
  behavior: default
  layout: reach, diff, flags, files, footer
  require_base: false
  require_changes: false
  require_head: true
  show_carryforward_flags: false
coverage:
  precision: 3
  round: nearest
  status:
    changes: false
    default_rules:
      flag_coverage_not_uploaded_behavior: include
    patch: true
    project:
      default:
        target: 95%
        base: auto
        branches:
          - master
          - stageing
          - stable
        if_ci_failed: error
        only_pulls: false
        removed_code_behavior: adjust_base
      multicast:
        target: 95%
        threshold: 1%
        threshold: 1%
        only_pulls: false
        flags:
          - "multicast"
        paths:
          - "multicast/"
          - "setup.py"
          - "!tests/"
      tests:
        target: 80%
        threshold: 1%
        if_ci_failed: ignore
        only_pulls: false
        removed_code_behavior: fully_covered_patch
        flags:
          - "tests"
        paths:
          - tests/
          - "!multicast/"
github_checks:
  annotations: true
flags:
  multicast:
    paths:
      - "multicast/"
      - "!tests/"
  tests:
    paths:
      - "tests/"
      - "!multicast/"

[TESTING] New test for TestRecvCleanup. (- WIP #53 -)
  tests/test_recv_cleanup.py
Due: tests

[TESTING] Update bandit.yml (- WIP #164 -)
  .github/workflows/bandit.yml
Due: none

[TESTING] new exceptions file in tests (- WIP #157 -).
  tests/exceptions.py
Due: tests

[DOCUMENTATION] added docstrings for new CommandExecutionError (- WIP #157 -)
  tests/exceptions.py
Due: tests

[TESTING] implementing use of new exception - part 1 of 2 (- WIP #157 -)
  tests/context.py
Due: tests

[PATCH] part 2 of implementation (- WIP #157 -)
  tests/context.py
Due: tests

[TESTING] refactor 1 of many (- WIP #53 -)
  tests/test_hear_missing_params.py
Due: tests

[TESTING] refactor 2 of many (- WIP #53 -)
  multicast/hear.py
  multicast/recv.py
  multicast/skt.py
Due: multicast

[TESTING] refactor 3 of many (- WIP #53 -)
  tests/test_hear_missing_params.py
Due: tests

[TESTING] refactor 4 of many (- WIP #53 -)
  tests/test_hear_server_activate.py
Due: tests

[TESTING] refactor 5 of many (- WIP #53 -)
  multicast/skt.py
  tests/__init__.py
  tests/test_hear_server_activate.py
Due: multicast, tests

[PATCH] Implementation for (- WIP #53 -)
  multicast/hear.py
  multicast/skt.py
  tests/__init__.py
  tests/test_hear_cleanup.py
  tests/test_hear_daemon_mode.py
  tests/test_hear_data_processing.py
  tests/test_hear_server_activate.py
  tests/test_hear_socket_errors.py
  tests/test_hear_socket_exception.py
  tests/test_recv_cleanup.py
  tests/test_recv_daemon_mode.py
  tests/test_recv_data_processing.py
  tests/test_recv_exception_handling.py
  tests/test_recv_invalid_socket.py
Due: multicast, tests

[PATCH] Possible fix for regression. (- WIP #53 -)
  multicast/recv.py
  multicast/send.py
  multicast/skt.py
  tests/test_hear_cleanup.py
  tests/test_hear_data_processing.py
  tests/test_hear_server_activate.py
  tests/test_usage.py
Due: multicast, tests

[PATCH] Possible fix for regression. (- WIP #53 -)
  tests/test_hear_data_processing.py
Due: tests

[STYLE] Possible fix for style. (- WIP #53 -)
  tests/test_hear_data_processing.py
Due: tests

[FEATURE] implemented reading and sending from stdin for SAY operations (- WIP #150 -)
  multicast/send.py
Due: multicast

[REGRESSION] Apply suggestions from code review (- WIP #168 -)
  multicast/send.py
Due: multicast

[REGRESSION] Apply suggestions from code review (- WIP #167 -)
  multicast/hear.py
  tests/test_hear_cleanup.py
Due: multicast, tests

Update multicast/send.py
  multicast/send.py
Due: multicast

[PATCH] Apply suggestions from code review (- WIP #168 -)
  multicast/send.py
Due: multicast

[TESTING] Possible fix for low code coverage on new functions (- WIP #168 -)
  tests/context.py
  tests/test_fuzz.py
  tests/test_usage.py
Due: tests

[PATCH] Apply suggested changes from review (- WIP #168 -)
  tests/test_fuzz.py
Due: tests

[STYLE] Refactor exceptions and exit-code utilities (- WIP #117 & #157 -)
  multicast/__init__.py
  multicast/exceptions.py
  tests/check_spelling
  tests/context.py
  tests/exceptions.py
Due: multicast, tests

[PATCH] Apply suggestions from code review (- WIP PR #169 -)
  multicast/exceptions.py
  tests/check_spelling
Due: multicast, tests

[REGRESSION] Various fixes and debugging from review (- WIP PR #169 -)
  multicast/__init__.py
  multicast/exceptions.py
Due: multicast

[DOCUMENTATION] Apply suggestions from code review (- WIP #117 -)
  multicast/exceptions.py
Due: multicast

[REGRESSION] Possible fix for some misconfigured tests (- WIP #117 -)
  multicast/__init__.py
  multicast/exceptions.py
Due: multicast

[DOCUMENTATION] Add docstrings to global variables from multicast/exceptions.py (- WIP PR #169 -)
  multicast/exceptions.py
Due: multicast

Create .bandit.yml
  .bandit.yml
Due: none

Tune .bandit.yml
  .bandit.yml
Due: none

[STYLE] Fixed line length as per conventions.
  multicast/exceptions.py
Due: multicast

[CI] Possible fix by suppression of PYL-E0603.
  multicast/exceptions.py
Due: multicast

[STYLE] Minor style fixes from review (- WIP PR #169 -)
  multicast/exceptions.py
Due: multicast

[HOTFIX] fixup for 2.0.0-rc-1 tests.
  tests/test_fuzz.py
Due: tests

[HOTFIX] bug fix for the SEND functions.
  multicast/send.py
Due: multicast

Release Candidate 3 for Version 2.0.0 (v2.0.0r3)
  .flake8.ini
  multicast/__init__.py
  setup.cfg
  setup.py
Due: multicast

Create scorecard.yml
  .github/workflows/scorecard.yml
Due: none

Update codeql-analysis.yml with defaults
  .github/workflows/codeql-analysis.yml
Due: none

[TESTING] Improved test coverage slightly (- WIP #53 -)
  tests/test_usage.py
Due: tests

[TESTING] Implemented tests/test_exceptions.py (- WIP #53 -)
  tests/__init__.py
  tests/test_exceptions.py
Due: tests
