Repository reactive-firewall/multicast: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, multicast

.codecov.yml:

coverage:
  status:
    project:
      default:
        target: 95%
        threshold: 0%
        base: auto
      multicast:
        target: auto
        flags:
          - multicast
        paths:
          - "multicast/*.py"
          - "setup.py"
      unittests:
        target: 80%
        flags:
          - unittests
        paths:
          - "tests/*"

flags:
  unittests:
    paths:
      - "tests/*"
    carryforward: true
    joined: false
  multicast:
    paths:
      - "multicast/*.py"
      - "setup.py"
    joined: false
    carryforward: true

[STYLE] WIP #11 - Style fixes
  tests/__init__.py
  tests/context.py
Due: unittests

[FIX] Closes #15
  Makefile
Due: none

### ChangeLog: Changes in file .coveragerc: branch = True
  .coveragerc
Due: none

[REGRESSION] commit message style fix
  .yamllint.conf
Due: none

[TESTS] Added another test for endSocket
  multicast/recv.py
Due: multicast

Altered makefile to allow for buffered logs during CI-Testing Changes in file Makefile: purge: clean uninstall
  Makefile
Due: none

[FIX] Fixed coverage reports' temp files cleanup across test runs
  Makefile
Due: none

[MERGE] resolves merge conflicts in ./Makefile
  Makefile
Due: none

[REGRESSION] fix for typo in recv.py
  multicast/recv.py
Due: multicast

[STYLE] Cleaning up some of the repo - please ignore the churn
  .gitattributes
  .gitignore
  Makefile
Due: none

[REGRESION] fix for 'make clean'
  Makefile
Due: none

[TESTS] refactor a bit of the testing names
  tests/__init__.py
  tests/context.py
  tests/profiling.py
  tests/test_basic.py
  tests/test_usage.py
Due: unittests

[REGRESION] fix for typo Acknowledgement
  multicast/recv.py
  multicast/send.py
  tests/profiling.py
Due: unittests, multicast

[STYLE] refactor prolog to prologue and epilog to match
  multicast/__init__.py
  multicast/__main__.py
  multicast/recv.py
  multicast/send.py
Due: multicast

[STYLE] many minor refactors for converging the overall project style - WIP
  .coveragerc
  .gitattributes
  Makefile
  multicast/__init__.py
  multicast/__main__.py
  multicast/recv.py
  multicast/send.py
  setup.py
  tests/check_cc_lines
  tests/test_usage.py
Due: unittests, multicast

[STYLE] Churn churn but more stable
  Makefile
  multicast/__init__.py
  multicast/__main__.py
  multicast/recv.py
  multicast/send.py
  setup.py
  tests/__init__.py
  tests/context.py
  tests/test_basic.py
  tests/test_usage.py
Due: unittests, multicast

[STYLE] fix for linter barff
  multicast/__init__.py
  multicast/__main__.py
  multicast/recv.py
  multicast/send.py
Due: multicast

[STYLE][REGRESSION] fix for stickler lint barff
  multicast/__main__.py
  multicast/recv.py
  multicast/send.py
Due: multicast

[REGRESSION] churn by linter barff
  multicast/recv.py
Due: multicast

[CI] change coverage default to auto
  .codecov.yml
Due: none

[CONFIG] fix for setuptools config ( closes #19 )
  requirements.txt
  setup.cfg
  setup.py
  tox.ini
Due: multicast

[TESTS] extras for testing ( closes #29 )
  .github/workflows/Tests.yml
Due: none

[REGRESSSION] added a missing comma ( closes #19 )
  setup.py
Due: multicast

[REGRESSSION] removed linter barf suspect ( closes #19 )
  setup.py
Due: multicast

[REGRESSSION] fix for syntax-sugar MIA ( closes #29 )
  .github/workflows/Tests.yml
Due: none

[REGRESSSION] fix for github actions missing syntax-sugar ( closes #29 )
  .github/workflows/Tests.yml
Due: none

[REGRESSSION] Python 3.11 not stable at this time ( closes #29 )
  .github/workflows/Tests.yml
Due: none

[REGRESSSION] ROLLBACK Python 3.10+ not stable at this time ( closes #29 )
  .github/workflows/Tests.yml
  Makefile
Due: none

[STYLE] fix for shell lock file paths ( closes #6 + WIP on #27 )
  .codecov.yml
  .gitignore
  tests/check_cc_lines
  tests/check_codecov
  tests/check_spelling
Due: unittests

[REGRESSION] typO fix
  .codecov.yml
Due: none

[STYLE] Renamed tests by new convention ( closes #34 )
  tests/context.py
  tests/test_usage.py
Due: unittests

[REGRESSION] Fixes for regressions in config ( closes #34 )
  .codecov.yml
Due: none

[REGRESSION] Fixes for regressions and some cli argument wrangling ( closes #28 + re-closes #34 )
  tests/context.py
Due: unittests

[DOCUMENTAION] refactor some comments as per discussion ( updates #33 )
  multicast/recv.py
Due: multicast

[TESTS] refactor some comments as per linter ( updates #33 )
  multicast/__init__.py
  multicast/recv.py
  tests/__init__.py
  tests/context.py
  tests/test_basic.py
  tests/test_usage.py
Due: unittests, multicast

[REGRESSION] fixing CI (unstable)
  .coveragerc
  multicast/__init__.py
  multicast/__main__.py
  multicast/recv.py
  multicast/send.py
  requirements.txt
  setup.cfg
  tests/profiling.py
  tests/test_basic.py
Due: unittests, multicast

[STYLE] refactor as per linter barf
  multicast/recv.py
  multicast/send.py
Due: multicast

[CONFIG] Fix for Codecov.yml patch status setting ( closes #36 )
  .codecov.yml
Due: none

[STYLE] cleanup some style fixes from churn-session
  multicast/send.py
Due: multicast

[REGRESSION] Regression Fix for Codecov.yml status settings ( closes #36 )
  .codecov.yml
Due: none
