Repository reactive-firewall/multicast: changes, and which Codecov flags are due for each by the changed paths.
All: multicast, tests

### ChangeLog: Changes in file multicast/__init__.py: Unknown Changes
  multicast/__init__.py
Due: multicast

### ChangeLog: Changes in file docs/FAQ.md: ### CLI exit code meanings
  docs/FAQ.md
  multicast/__init__.py
Due: multicast

### ChangeLog: Changes in file tests/test_fuzz.py: Unknown Changes
  tests/test_fuzz.py
Due: tests

[DOCUMENTATION] Minor fixes for regressions from last set of changes :see_no_evil:
  README.md
  multicast/__init__.py
Due: multicast

[HOTFIX] fix for DeprecationWarning in CI/CD (- WIP #400 -)
  .github/tools/cioutput.py
Due: none

[PATCH] Various improvements to CI/CD (- WIP #338 -)
  .github/actions/checkout-and-rebuild/action.yml
  .github/actions/fetch-test-reporter/action.yml
  .github/workflows/Tests.yml
  .gitmodules
  tests/check_pip
Due: tests

[PATCH] Fix for yaml syntax (- WIP #130 -)
  .github/actions/purge-test-reporter/action.yml
  .github/workflows/Tests.yml
  tests/check_pip
Due: tests

[PATCH] More improvements to CI/CD (- WIP #338 -)
  .github/actions/check-control/action.yml
  .github/actions/run-minimal-acceptance-tests/action.yml
  .github/workflows/CI-BUILD.yml
  .github/workflows/CI-MATs.yml
  .github/workflows/Tests.yml
  README.md
  tests/check_pip
  tests/check_spelling
Due: tests

[CONFIG] Implementing changes for CI-DOCs (- WIP #339 -)
  .github/workflows/CI-DOCS.yml
  .github/workflows/Tests.yml
Due: none

[HOTFIX] Fix for CI/CD license checks (- WIP #401 -)
  docs/requirements.txt
  tests/check_pip
  tests/requirements.txt
Due: tests

[CONFIG] More Improvements for CI/CD (- WIP #388 -)
  .github/actions/setup-py-reqs/action.yml
  .github/workflows/Tests.yml
  Makefile
Due: none

[PATCH] Rollback makefile logic for now (- WIP PR #402 -)
  Makefile
Due: none

[CONFIG] Apply changes as found in review (- WIP PR #402 -) * these changes are related to cleaning up GHI #338
  .github/actions/run-minimal-acceptance-tests/action.yml
  .github/actions/setup-py-reqs/action.yml
  .github/workflows/CI-DOCS.yml
  .github/workflows/Tests.yml
  tests/check_spelling
Due: tests

[HOTFIX] Apply changes from review (- WIP PR #404 -)
  docs/requirements.txt
  requirements.txt
  tests/requirements.txt
Due: tests

[UPDATE] Release Candidate v2.0.9a0
  .deepsource.toml
  .github/dependabot.yml
  .github/labeler.yml
  .github/workflows/CI-BUILD.yml
  .github/workflows/Tests.yml
  .gitignore
  Makefile
  docs/conf.py
  docs/requirements.txt
  docs/utils.py
  multicast/__init__.py
  pyproject.toml
  pytest.ini
  requirements.txt
  setup.cfg
  setup.py
  tests/__init__.py
  tests/check_codecov
  tests/check_legacy_setup_coverage
  tests/check_spelling
  tests/requirements.txt
  tests/test_build.py
  tests/test_deps.py
  tests/test_install_requires.py
  tests/test_manifest.py
Due: multicast, tests

[PATCH] Minor fixes for PEP-621 refactor.
  .gitattributes
  docs/conf.py
  multicast/__init__.py
  multicast/__main__.py
  pyproject.toml
Due: multicast

[CONFIG] workaround for CI regression
  .github/workflows/Tests.yml
Due: none

[UPDATE] minor version bump for checkmake
  .github/workflows/makefile-lint.yml
Due: none

[STYLE] Fix MD059 (- WIP #408 -)
  README.md
Due: none

[DOCUMENTATION] Draft for AI Usage Policy (- WIP #367 -)
  .github/AI_USAGE_POLICY.md
Due: none

[FEATURE] Implemented initial upload template for coverage GHA (- WIP #130 -)
  .github/actions/fetch-test-reporter/action.yml
  .github/actions/purge-test-reporter/action.yml
  .github/actions/test-reporter-upload/action.yml
  .github/workflows/Tests.yml
  tests/check_codecov
  tests/check_spelling
Due: tests

[CONFIG] Refactor a little to DRY up Testing Summary (- WIP #403 -)
  .github/workflows/Tests.yml
Due: none

[DOCUMENTATION] Initial documentation of recent CI/CD overhaul (- WIP #410 -)
  docs/CI.md
Due: none

[DOCUMENTATION] Prep for spliting Test documentation off of CI docs (- WIP #411 -)
  docs/CI.md
Due: none

[DOCUMENTATION] Moved testing documentation to seperate document (- WIP #411 -)
  docs/Testing.md
Due: none

Dependencies NOT included.
  LICENSE.md
  docs/requirements.txt
  tests/requirements.txt
Due: tests

[DOCUMENTATION] Added docs about CI/CD linting checks (- WIP #203 -)
  docs/CI.md
Due: none

[DOCUMENTATION] Updates to the README.md
  README.md
Due: none

[DOCUMENTATION] Minor update to CONTRIBUTING guide.
  .github/CONTRIBUTING.md
Due: none

[DOCUMENTATION] Improved Documentation for CI/CD a bit (- WIP #282 -)
  docs/CI.md
Due: none

[DOCUMENTATION] Added notes about triggering CI/CD (- WIP #410 -)
  docs/CI.md
Due: none

[PATCH] Minor syntax fixes (- WIP #130 -)
  .github/actions/test-reporter-upload/action.yml
Due: none

[STYLE] Fixed a few overlooked mistakes as found in review (- PR #414 -)
  .github/actions/test-reporter-upload/action.yml
  .github/workflows/Tests.yml
Due: none

[STYLE] Refactor as discussed in review (- WIP PR #414 -)
  .github/actions/test-reporter-upload/action.yml
Due: none

[PATCH] minor fix for wrong var (- WIP PR #414 -)
  .github/workflows/Tests.yml
Due: none

[PATCH] Fixed regression caused by wrong inputs (- WIP PR #414 -)
  .github/workflows/Tests.yml
Due: none

[STYLE] Fixed line length in new AI policy (- WIP #367 -)
  .github/AI_USAGE_POLICY.md
  multicast/__init__.py
  multicast/__main__.py
Due: multicast

[STYLE] reduced indentation for style (- WIP #367 -)
  .github/AI_USAGE_POLICY.md
Due: none

[STYLE] Fixed more style as per review (- WIP PR #415 -)
  .coderabbit.yaml
  .github/AI_USAGE_POLICY.md
  multicast/__init__.py
  multicast/__main__.py
Due: multicast

Path conditions:
  multicast: any of: multicast/, but not: tests/
  tests: any of: tests/, but not: multicast/
