Repository reactive-firewall/multicast: changes, and which Codecov flags are due for each by the changed paths.
All: multicast, tests

.codecov.yml:

codecov:
  notify:
    wait_for_ci: true
  require_ci_to_pass: true
  max_report_age: off
comment:
  behavior: default
  layout: reach, diff, flags, files, footer
  require_base: false
  require_changes: false
  require_head: true
  show_carryforward_flags: false
coverage:
  precision: 3
  round: nearest
  status:
    changes: false
    default_rules:
      flag_coverage_not_uploaded_behavior: include
    patch: true
    project:
      default:
        target: 95%
        base: auto
        branches:
          - master
          - stageing
          - stable
        if_ci_failed: error
        only_pulls: false
        removed_code_behavior: adjust_base
      multicast:
        target: 95%
        threshold: 1%
        threshold: 1%
        only_pulls: false
        flags:
          - "multicast"
        paths:
          - "multicast/"
          - "setup.py"
          - "!tests/"
      tests:
        target: 80%
        threshold: 1%
        if_ci_failed: ignore
        only_pulls: false
        removed_code_behavior: fully_covered_patch
        flags:
          - "tests"
        paths:
          - tests/
          - "!multicast/"
github_checks:
  annotations: true
flags:
  multicast:
    paths:
      - "multicast/"
      - "!tests/"
  tests:
    paths:
      - "tests/"
      - "!multicast/"

[DOCUMENTATION] Improved FAQ some more (- WIP #425 -)
  docs/FAQ.md
  docs/INSTALL.md
  docs/SECURITY.md
Due: none

[STYLE] Style cleanup for Improvements to FAQ and related documentation (- WIP #425 -)
  docs/FAQ.md
  docs/SECURITY.md
  docs/USAGE.md
Due: none

[STYLE] Improved documentation style previously overlooked (- WIP #425 -)
  docs/FAQ.md
  docs/USAGE.md
Due: none

[FEATURE] Apply changes as discussed in review (- WIP PR #426 -)
  README.md
  docs/conf.py
  tests/check_spelling
Due: tests

[STYLE] Documentation style fixes for the FAQ updates (- WIP PR #429 -)
  docs/FAQ.md
  docs/USAGE.md
Due: none

[STYLE] Documentation style fixes for the FAQ updates (- WIP PR #429 -)
  docs/FAQ.md
Due: none

[DOCUMENTATION] Further improved the FAQ documentation (- WIP PR #429 -)
  docs/FAQ.md
  docs/USAGE.md
Due: none

[STYLE] Added missing language fence to markdown (- WIP PR #429 -)
  docs/FAQ.md
Due: none

[STYLE] Minor style fixes for USAGE documentation (- WIP PR #429 -)
  docs/USAGE.md
Due: none

[FEATURE] Improved changelog tool even more (- WIP #155 -)
  generate_changelog.sh
Due: none

[FEATURE] Initial implementation of new CI-CHGLOG GHA (- WIP #155 -)
  .github/workflows/CI-CHGLOG.yml
  docs/CI.md
Due: none

[FEATURE] Improved performance and security of CHANGELOG generation script (- WIP PR #433 -)
  .github/workflows/CI-CHGLOG.yml
  generate_changelog.sh
Due: none

[FEATURE] minor changes to improve generation of CHANGELOG (- WIP #155 -)
  .github/workflows/CI-CHGLOG.yml
  generate_changelog.sh
Due: none

[SECURITY] additional hardening for new script (- WIP PR #433 -)
  .github/workflows/CI-CHGLOG.yml
  generate_changelog.sh
Due: none

[FEATURE] Additional minor improvements before merging new tool (- WIP #155 -)
  .github/workflows/CI-CHGLOG.yml
  generate_changelog.sh
Due: none

[FEATURE] Minor tweak for readability (- WIP PR #433 -)
  .github/workflows/CI-CHGLOG.yml
Due: none

[FEATURE] Additional hardening for new changelog tooling (- WIP #155 -)
  generate_changelog.sh
Due: none

[PATCH] Refactored more broken links for ORG (- WIP #434 -)
  .github/workflows/CI-CHGLOG.yml
  docs/FAQ.md
  docs/INSTALL.md
  docs/SECURITY.md
  docs/USAGE.md
  generate_changelog.sh
Due: none

[HOTFIX] Potential fix for CI-CHGLOG summary in CI/CD (- WIP #155 -)
  .github/workflows/CI-CHGLOG.yml
Due: none

[LICENSE] Updated a few more License URLs to direct links (- WIP #335 -)
  LICENSE.md
  tests/profiling.py
  tests/test_basic.py
  tests/test_build.py
  tests/test_usage.py
Due: tests

[FIX] fixed some typos
  multicast/__main__.py
  tests/context.py
Due: multicast, tests

[COVERAGE] Improve test code coverage reporting (- WIP #441 -)
  .coderabbit.yaml
  .github/labeler.yml
  .github/workflows/Tests.yml
  Makefile
  docs/INSTALL.md
  docs/SECURITY.md
  multicast/__main__.py
  multicast/hear.py
Due: multicast

[PATCH] Minor improvement for changelog stability (- WIP 441 -)
  generate_changelog.sh
Due: none

[CI/CD] Fix for GHI #444
  tests/check_pip
Due: tests

[COVERAGE] Slight improvement to coverage (- WIP #441 -)
  tests/__init__.py
  tests/test_hear_cleanup.py
Due: tests

[UPDATE] Version Bumps (- WIP #441 -)
  Makefile
  docs/conf.py
  docs/requirements.txt
  multicast/__init__.py
  pyproject.toml
  requirements.txt
  tests/requirements.txt
  tox.ini
Due: multicast, tests

[COMMENT] Updated version comment for recent GHA attest version bump.
  .github/workflows/CI-BUILD.yml
Due: none

[COVERAGE] Improved coverage reporting (- WIP #441 -)
  Makefile
Due: none

[COVERAGE] Improved doctest-coverage slightly (- WIP #441 -)
  multicast/hear.py
Due: multicast

[CI/CD] Fix for EoL CodeClimate Quality checks (- WIP #441 -)
  .github/actions/fetch-test-reporter/action.yml
  .github/actions/purge-test-reporter/action.yml
  .github/actions/test-reporter-upload/action.yml
  .github/workflows/Tests.yml
  README.md
  docs/CI.md
Due: none

[UPDATE] Version bump for flake8-cq from v1.3 to v1.5 (- WIP PR #446 -)
  .github/workflows/flake8.yml
Due: none

[STYLE] Minor markdown style tweak
  docs/INSTALL.md
Due: none

[COVERAGE] Improve coverage report with more meta-data
  .github/actions/test-reporter-upload/action.yml
  .github/workflows/Tests.yml
Due: none

[STYLE] Minor change to avoid over-zelous PY-W0069 from linter
  multicast/hear.py
Due: multicast

[COVERAGE] Improved coverage and stability of testing in CI/CD (- WIP PR #448 -)
  .github/dependabot.yml
  .github/workflows/Tests.yml
  Makefile
  docs/requirements.txt
  multicast/hear.py
  tests/requirements.txt
  tests/test_extra.py
  tests/test_hear_cleanup.py
  tox.ini
Due: multicast, tests

[STYLE] Strategic improvements
  .coderabbit.yaml
  .github/workflows/Tests.yml
  Makefile
  README.md
  generate_changelog.sh
  multicast/__main__.py
  multicast/send.py
  tox.ini
Due: multicast

[STYLE] More Style improvements (- WIP PR #448 -)
  .github/actions/fetch-test-reporter/action.yml
  .github/actions/purge-test-reporter/action.yml
  .github/actions/test-reporter-upload/action.yml
  Makefile
  docs/CI.md
  tests/test_extra.py
  tox.ini
Due: tests

[CI] Improved CI/CD config a little more (- WIP PR #448 -)
  .github/actions/checkout-and-rebuild/action.yml
  .github/workflows/CI-BUILD.yml
  .github/workflows/Tests.yml
Due: none

[HOTFIX] Oops, Fixed indentation in GHA (- WIP PR #448 -)
  .github/workflows/Tests.yml
Due: none
