Repository reactive-firewall/multicast: changes, and which Codecov flags are due for each by the changed paths.
All: multicast, tests

.codecov.yml:

codecov:
  notify:
    wait_for_ci: true
  require_ci_to_pass: true
  max_report_age: off
comment:
  behavior: default
  layout: reach, diff, flags, files, footer
  require_base: false
  require_changes: false
  require_head: true
  show_carryforward_flags: false
coverage:
  precision: 3
  round: nearest
  status:
    changes: false
    default_rules:
      flag_coverage_not_uploaded_behavior: include
    patch: true
    project:
      default:
        target: 95%
        base: auto
        branches:
          - master
          - stageing
          - stable
        if_ci_failed: error
        only_pulls: false
        removed_code_behavior: adjust_base
      multicast:
        target: 95%
        threshold: 1%
        threshold: 1%
        only_pulls: false
        flags:
          - "multicast"
        paths:
          - "multicast/"
          - "setup.py"
          - "!tests/"
      tests:
        target: 80%
        threshold: 1%
        if_ci_failed: ignore
        only_pulls: false
        removed_code_behavior: fully_covered_patch
        flags:
          - "tests"
        paths:
          - tests/
          - "!multicast/"
github_checks:
  annotations: true
flags:
  multicast:
    paths:
      - "multicast/"
      - "!tests/"
  tests:
    paths:
      - "tests/"
      - "!multicast/"

[STYLE] More work related to refactoring to use lazy formatting to avoid PLY-1203
  multicast/hear.py
  multicast/send.py
  tests/run_selective.py
Due: multicast, tests

[DOCUMENTATION] Added initial docstring and corrected method def as found in review (- WIP PR #354 -)
  multicast/hear.py
Due: multicast

[DOCUMENTATION] Applied improvements found in review (- WIP PR #354 -)
  multicast/hear.py
Due: multicast

[HOTFIX] Fix for regression found in review (- WIP PR #354 -)
  Makefile
Due: none

[PATCH] Apply suggestions from code review (- WIP #354 -)
  multicast/exceptions.py
  multicast/hear.py
  multicast/send.py
  tests/__init__.py
  tests/run_selective.py
Due: multicast, tests

[PATCH] Apply fixes as found in review (- WIP PR #354 -)
  multicast/hear.py
  multicast/send.py
  tests/__init__.py
  tests/run_selective.py
Due: multicast, tests

[TESTING] Fixing up the implementation for new extra tests (- WIP PR #359 -)
  tests/__init__.py
  tests/test_recv.py
Due: tests

[PATCH] Apply changes as found in review (- WIP PR #351 -)
  .ast-grep/rules/python-rule-add-trailing-comma.yml
  .ast-grep/utils/python/structure/argument-last-without-comma.yml
  .ast-grep/utils/python/structure/argument-list-with-comma.yml
  .ast-grep/utils/python/structure/keyword-argument-inside-list-with-comma.yml
  multicast/env.py
  multicast/send.py
  setup.py
  tests/__init__.py
  tests/context.py
  tests/test_manifest.py
  tests/test_recv.py
Due: multicast, tests

[PATCH] Apply suggestions from code review (- WIP PR #351 -)
  .github/workflows/codeql-analysis.yml
  multicast/send.py
Due: multicast

[DEBUG] rerere fix, multicast/__init__.py as found in review (- WIP #233 -)
  multicast/__init__.py
Due: multicast

[PATCH] Apply finishing touches as found in review (- WIP PR #351 -)
  multicast/__init__.py
Due: multicast

[VERSION] Release candidate for 2.0 series
  Makefile
  multicast/__init__.py
Due: multicast

[STYLE] Minor tweak to avoid PYL-1203
  multicast/exceptions.py
Due: multicast

[UPDATE] Version Bump Checkmake tool.
  .github/workflows/makefile-lint.yml
Due: none

[DOCUMENTATION] Another minor chore (- WIP #275 -)
  .github/workflows/Tests.yml
  tests/check_integration_coverage
  tests/test_hear_cleanup.py
Due: tests

[STYLE] Update tests/test_hear_cleanup.py code style (- WIP PR #361 -)
  tests/test_hear_cleanup.py
Due: tests

[HOTFIX] Errare humanum est
  .github/workflows/Tests.yml
Due: none

[HOTFIX] Missed a typo.
  .github/workflows/Tests.yml
Due: none

[PATCH] Minor tweak for PEP-639 support (- WIP #335 -)
  Makefile
  setup.cfg
  setup.py
Due: none

[DOCUMENTATION] Applied improvements from GHI #205
  docs/FAQ.md
  tests/check_spelling
Due: tests

[FEATURE] Added inital implementation of url sanitization to documentation config (- WIP #213 -)
  docs/conf.py
  docs/utils.py
Due: none

[DOCUMENTATION] Tweaked the comments in the Makefile to align with CEP-8 (- WIP #239 -)
  Makefile
Due: none

[PATCH] Allow CEP-8 tabs in .py doc files (- WIP #270 -)
  .github/workflows/CI-DOCS.yml
  .sphinx-lint
Due: none

[PATCH] Implemented join step edge-case logic (- WIP #317 -)
  multicast/recv.py
Due: multicast

[CONFIG] Added new config for ignoring tabs in docs (- WIP #270 -)
  sphinx-lint.yml
Due: none

[PATCH] Try Moving sphinx-lint configs into docs folder
  docs/.sphinx-lint
  docs/sphinx-lint.yml
Due: none

[STYLE] Suppress false PYL-W0212 (- WIP PR #371 -)
  multicast/recv.py
Due: multicast

[PATCH] Apply changes as per review (- WIP PR #371 -)
  multicast/recv.py
Due: multicast

[PATCH] Apply some changes as per review (- WIP PR #373 -)
  docs/utils.py
Due: none

[PATCH] added regression for another typo found in PR #373
  tests/check_spelling
Due: tests

[STYLE] Minor improvements from review (- WIP PR #373 -)
  docs/utils.py
Due: none

[TESTING] Improved testing as suggested in review (- WIP PR #373 -)
  tests/__init__.py
  tests/test_extra.py
Due: tests

[TESTING] Added doctests as suggested in review (- WIP PR #373 -)
  docs/utils.py
Due: none

[STYLE] Applied changes as per review (- WIP PR #373 -)
  docs/conf.py
Due: none

[TESTING] Minor improvement to extra test logic (- WIP PR #373 -)
  tests/test_extra.py
Due: tests

[STYLE] Applied changes from Review (- WIP PR #213 -)
  docs/utils.py
Due: none

[PATCH] Apply changes from review (- WIP PR #373 -)
  docs/utils.py
Due: none

[SECURITY] Hardening documentation urls more (- WIP PR #373 -)
  docs/utils.py
Due: none

[UPDATE] Release Candidate for Version `2.0.7`
  docs/conf.py
  multicast/__init__.py
  setup.cfg
Due: multicast

[PATCH] Refactored some ast-grep rules (- WIP #332 -)
  .ast-grep/rules/multicast-rule-server-implementation-pattern-dostep.yml
  .ast-grep/rules/multicast-rule-server-implementation-pattern.yml
  .ast-grep/utils/python/content/multicast-mtool-subclass-function-doStep.yml
  .ast-grep/utils/python/content/multicast-mtool-subclass-function-setupArgs.yml
  .ast-grep/utils/python/content/multicast-mtool-subclass-implementation.yml
  .ast-grep/utils/python/structure/method_docstring.yml
  .ast-grep/utils/python/structure/multicast-mtool-subclass-definitions/decorated_function_definition.yml
  .ast-grep/utils/python/structure/multicast-mtool-subclass-definitions/undecorated_function_definition.yml
  .ast-grep/utils/python/structure/multicast-mtool-subclass-function_definition.yml
  .ast-grep/utils/python/structure/multicast-mtool-subclass.yml
  multicast/__init__.py
Due: multicast
