Repository reactive-firewall/multicast: changes, and which Codecov flags are due for each by the changed paths.
All: multicast, tests

.codecov.yml:

codecov:
  notify:
    wait_for_ci: true
  require_ci_to_pass: true
  max_report_age: off
comment:
  behavior: default
  layout: reach, diff, flags, files, footer
  require_base: false
  require_changes: false
  require_head: true
  show_carryforward_flags: false
coverage:
  precision: 3
  round: nearest
  status:
    changes: false
    default_rules:
      flag_coverage_not_uploaded_behavior: include
    patch: true
    project:
      default:
        target: 95%
        base: auto
        branches:
          - master
          - stageing
          - stable
        if_ci_failed: error
        only_pulls: false
        removed_code_behavior: adjust_base
      multicast:
        target: 95%
        threshold: 1%
        threshold: 1%
        only_pulls: false
        flags:
          - "multicast"
        paths:
          - "multicast/"
          - "setup.py"
          - "!tests/"
      tests:
        target: 80%
        threshold: 1%
        if_ci_failed: ignore
        only_pulls: false
        removed_code_behavior: fully_covered_patch
        flags:
          - "tests"
        paths:
          - tests/
          - "!multicast/"
github_checks:
  annotations: true
flags:
  multicast:
    paths:
      - "multicast/"
      - "!tests/"
  tests:
    paths:
      - "tests/"
      - "!multicast/"

[TESTING] Apply un-related fix from review
  tests/check_cc_lines
Due: tests

[UPDATE] Version v2.0.5
  docs/conf.py
  multicast/__init__.py
  setup.cfg
Due: multicast

[STYLE] add CC line to fix regression in style tests.
  docs/Environment_Configuration.md
Due: none

[TESTING] Improved some extra tests (- WIP #255 -)
  tests/test_hear_keyboard_interrupt.py
Due: tests

[SECURITY] Hardened CI tool as per #203
  .github/tool_checkmake.sh
Due: none

[TESTING] Improved extra tests as per #215
  tests/test_hear_keyboard_interrupt.py
Due: tests

[STYLE] Added type-hints as per #276
  .coveragerc
  multicast/exceptions.py
  tests/test_fuzz.py
Due: multicast, tests

[TESTING] Various usage testing improvements (- WIP #202 -)
  tests/context.py
  tests/test_usage.py
Due: tests

[STYLE] fixed a minor typo (- WIP #224 -)
  multicast/exceptions.py
  tests/check_spelling
Due: multicast, tests

[FEATURE] added validation function for exceptions.EXIT_CODES (- WIP #224 -)
  multicast/exceptions.py
Due: multicast

[TESTING] Slight improvement to exception testing as per #223
  multicast/exceptions.py
  tests/test_exceptions.py
Due: multicast, tests

[CI] add cache-ing support as per #278
  .github/workflows/CI-BUILD.yml
Due: none

[TESTING] Slight improvement to test cases (- WIP #279 -)
  tests/test_hear_server.py
Due: tests

[STYLE] Suppress PTC-W0043 - cleanup overhead early
  multicast/exceptions.py
Due: multicast

[STYLE] Numerous minor changes from review (- WIP PR #330 -)
  .ast-grep/rules/multicast-rule-check-test-documentation.yml
  .ast-grep/rules/multicast-rule-simplify-imports.yml
  .ast-grep/rules/multicast-rule-udp-client-implementation-pattern.yml
  .ast-grep/rules/multicast-rule-validate-method-docstring.yml
  .ast-grep/rules/python-rule-simplify-strings.yml
  .ast-grep/rules/python-rule-simplify-u-string.yml
  .ast-grep/utils/YAML/gha/job-body.yml
  .ast-grep/utils/YAML/gha/job-conditional.yml
  .ast-grep/utils/YAML/gha/job-definition.yml
  .ast-grep/utils/YAML/gha/job-name.yml
  .ast-grep/utils/YAML/gha/jobs-block.yml
  .ast-grep/utils/YAML/gha/jobs-definition.yml
  .ast-grep/utils/python/content/data_class_docstring.yml
  .ast-grep/utils/python/core/py_string_literal.yml
  .ast-grep/utils/python/structure/block_docstring.yml
  .ast-grep/utils/python/structure/function_docstring.yml
  multicast/__init__.py
  multicast/__main__.py
  multicast/exceptions.py
  multicast/recv.py
  multicast/send.py
  tests/__init__.py
  tests/check_spelling
  tests/context.py
  tests/run_selective.py
  tests/test_basic.py
  tests/test_build.py
  tests/test_deps.py
  tests/test_exceptions.py
  tests/test_hear_cleanup.py
  tests/test_hear_data_processing.py
  tests/test_hear_keyboard_interrupt.py
  tests/test_hear_server.py
  tests/test_install_requires.py
Due: multicast, tests

[PATCH] Apply changes discussed in review (- WIP PR #330 -)
  .ast-grep/rules/multicast-rule-check-test-documentation.yml
  .ast-grep/rules/python-rule-simplify-strings.yml
  multicast/__init__.py
  multicast/__main__.py
  multicast/exceptions.py
  tests/__init__.py
  tests/check_spelling
Due: multicast, tests

[PATCH] Apply suggestions from code review (- WIP PR #330 -)
  multicast/__main__.py
  tests/context.py
  tests/run_selective.py
  tests/test_deps.py
  tests/test_hear_keyboard_interrupt.py
  tests/test_install_requires.py
Due: multicast, tests

[DOCUMENTATION] added another docstring (- WIP PR #330 -)
  tests/test_hear_server.py
Due: tests

[PATCH] Apply suggestions from code review (- WIP PR #330 -)
  multicast/__main__.py
  tests/context.py
  tests/run_selective.py
Due: multicast, tests

[PATCH] Apply suggestions from code review (- WIP PR #330 -)
  multicast/__main__.py
Due: multicast

[HOTFIX] update tests config for CI to fix coverage regression.
  .github/workflows/Tests.yml
Due: none

[HOTFIX] CI config changes
  .github/workflows/CI-MATs.yml
  Makefile
  pyproject.toml
  pytest.ini
  tests/__init__.py
  tests/requirements.txt
  tests/test_basic.py
  tests/test_build.py
  tests/test_deps.py
  tests/test_exceptions.py
  tests/test_fuzz.py
  tests/test_hear_cleanup.py
  tests/test_hear_data_processing.py
  tests/test_hear_keyboard_interrupt.py
  tests/test_hear_server.py
  tests/test_hear_server_activate.py
  tests/test_install_requires.py
  tests/test_manifest.py
  tests/test_usage.py
Due: tests

[FEATURE] Helper action to upgrade braindead windows in CI (- WIP #210 -)
  .github/actions/upgrade-windows-pip/action.yml
  .github/workflows/Tests.yml
Due: none

[FEATURE] Helper action to upgrade braindead windows in CI (- WIP #210 -)
  .github/workflows/CI-DOCS.yml
Due: none

[DEBUG] Part 1 of 2 (- WIP #264 -)
  multicast/__init__.py
  multicast/env.py
Due: multicast

[FEATURE] Part 2 of 2 implementing initial prototype buffer ENV validation (- WIP #264 -)
  multicast/__init__.py
  multicast/env.py
Due: multicast

[PATCH] Applied changed found in review (- WIP PR #348 -)
  multicast/__init__.py
  multicast/env.py
Due: multicast

[PATCH] Apply suggestions from code review (- WIP PR #348 -)
  multicast/__init__.py
  multicast/env.py
Due: multicast

[PATCH] Applied changes from review (- WIP PR #348 -)
  multicast/env.py
  multicast/recv.py
  multicast/send.py
Due: multicast

[STYLE] Remind app.deepsource.io that module access is normal in python. Changes in file multicast/recv.py: * suppress false-positive PYL-W0212
  multicast/recv.py
  multicast/send.py
Due: multicast

[PATCH] Applied changes as discussed in review (- WIP #348 -)
  multicast/send.py
Due: multicast

[STYLE] Oops, more corrections found in review (- WIP PR #348 -)
  multicast/recv.py
  tests/check_spelling
Due: multicast, tests

[SECURITY] Hardening for test context (- WIP #249 -)
  tests/context.py
Due: tests

[SECURITY] More hardening for test context (- WIP PR #349 -)
  tests/context.py
Due: tests

[TESTING] Improved testing of HEAR handler slightly (- WIP #241 -)
  tests/test_hear_data_processing.py
Due: tests

[UPDATE] Version Bump
  docs/conf.py
  multicast/__init__.py
  setup.cfg
Due: multicast

[FEATURE] Initial implementation of module logging for debugging (- WIP #233 -)
  .coveragerc
  multicast/__init__.py
  multicast/env.py
  multicast/exceptions.py
  multicast/hear.py
  multicast/recv.py
  multicast/send.py
  multicast/skt.py
  requirements.txt
  tests/__init__.py
  tests/context.py
  tests/run_selective.py
Due: multicast, tests

[FEATURE] More implementation of logging style output and related work (- WIP #233 -)
  Makefile
  setup.py
  tests/check_integration_coverage
Due: tests

[STYLE] Refactored to avoid PYL-C0201 (- WIP #233 -)
  tests/__init__.py
Due: tests

[STYLE] Refactored to use lazy formatting to avoid PYL-W1203
  multicast/__init__.py
  multicast/env.py
  multicast/exceptions.py
  multicast/hear.py
  multicast/recv.py
  multicast/send.py
  multicast/skt.py
  tests/run_selective.py
Due: multicast, tests
