Repository reactive-firewall/multicast: changes, and which Codecov flags are due for each by the changed paths.
All: multicast, tests

.codecov.yml:

codecov:
  notify:
    wait_for_ci: true
  require_ci_to_pass: true
  max_report_age: off
comment:
  behavior: default
  layout: reach, diff, flags, files, footer
  require_base: false
  require_changes: false
  require_head: true
  show_carryforward_flags: false
coverage:
  precision: 3
  round: nearest
  status:
    changes: false
    default_rules:
      flag_coverage_not_uploaded_behavior: include
    patch: true
    project:
      default:
        target: 95%
        base: auto
        branches:
          - master
          - stageing
          - stable
        if_ci_failed: error
        only_pulls: false
        removed_code_behavior: adjust_base
      multicast:
        target: 95%
        threshold: 1%
        threshold: 1%
        only_pulls: false
        flags:
          - "multicast"
        paths:
          - "multicast/"
          - "setup.py"
          - "!tests/"
      tests:
        target: 80%
        threshold: 1%
        if_ci_failed: ignore
        only_pulls: false
        removed_code_behavior: fully_covered_patch
        flags:
          - "tests"
        paths:
          - tests/
          - "!multicast/"
github_checks:
  annotations: true
flags:
  multicast:
    paths:
      - "multicast/"
      - "!tests/"
  tests:
    paths:
      - "tests/"
      - "!multicast/"

[CONFIG] Minor improvement to LanguageTool (- WIP #207 -)
  .coderabbit.yaml
Due: none

Apply changes from Review (- WIP #291 -)
  docs/utils.py
Due: none

[REGRESSION] Fix for indentation issue in docs utils. (- WIP PR #273 -)
  docs/utils.py
Due: none

Changes in file docs/utils.py: def _validate_git_ref(ref: str) -> str:
  docs/utils.py
Due: none

[STYLE] Minor fix for style (- WIP #291 -)
  docs/utils.py
Due: none

[STYLE] Minor style fixes found in review (- WIP #291 -)
  docs/utils.py
Due: none

[DOCUMENTATION] Added comments as per review (- WIP PR 293 -)
  .coderabbit.yaml
Due: none

[CONFIGURATION] Version bump for virtualenv (- WIP #299 -)
  requirements.txt
  setup.cfg
  tests/requirements.txt
Due: tests

[DOCUMENTATION] applied changes as per review (- WIP PR #290 -)
  tests/__init__.py
Due: tests

### ChangeLog: Changes in file multicast/hear.py: def handle(self):
  multicast/hear.py
  multicast/recv.py
Due: multicast

[PATCH] Applied changes as discussed in review (- WIP PR 290 -)
  multicast/recv.py
Due: multicast

Apply suggestions from code review (- WIP PR #207 -)
  .ast-grep/rules/multicast-rule-require-docstring-testing.yml
  .ast-grep/rules/multicast-rule-test-class-naming-pattern.yml
  .ast-grep/utils/python/content/cep7_docstring_arguments.yml
Due: none

[FIX] Minor fix to avoid deadlocking the HEAR command.
  multicast/hear.py
Due: multicast

[TESTING] Added test-mat target to Makefile (- WIP #199 -)
  Makefile
Due: none

[PATCH] minor stability tweaks for testing changes (- WIP #199 -)
  Makefile
  tests/check_codecov
  tests/run_selective.py
  tests/test_deps.py
Due: tests

[TESTING] Numerous Minor improvements for testing as part of #199
  Makefile
  docs/Makefile
  tests/__init__.py
  tests/test_fuzz.py
Due: tests

[PATCH] Work Related to #199 improvements
  .gitignore
  Makefile
  tests/__init__.py
  tests/test_fuzz.py
Due: tests

[STYLE] Fixed a typo to resolve #272
  pyproject.toml
Due: none

[FEATURE] Improved the check_spelling tool to allow specific checks as per #272
  tests/check_spelling
Due: tests

[PATCH] Apply changes from review
  tests/check_spelling
Due: tests

[STYLE] Improved quoting in CI-MATs.yml (- WIP #266 -)
  .github/workflows/CI-MATs.yml
Due: none

[STYLE] Improved quoting in CI-BUILD.yml (- WIP #266 -)
  .github/workflows/CI-BUILD.yml
Due: none

[STYLE] More Improved Quoting in CI Configs (- WIP #266 -)
  .github/workflows/Tests.yml
Due: none

[CONFIG] Implemented new ast-grep rule to simplify imports as part of #151
  .ast-grep/rules/multicast-rule-simplify-imports.yml
Due: none

[PATCH] Applied changes from review (- WIP PR #323 -)
  .ast-grep/rules/multicast-rule-simplify-imports.yml
Due: none

[STYLE] Refactor imports in test to resolve #151
  tests/MulticastUDPClient.py
  tests/__init__.py
  tests/context.py
  tests/test_deps.py
  tests/test_fuzz.py
Due: tests

[PATCH] Related work (- WIP #151 -)
  tests/context.py
  tests/test_fuzz.py
Due: tests

[STYLE] Apply suggestions from code review (- WIP PR #325 -)
  tests/test_fuzz.py
Due: tests

[STYLE] Apply improvements from re-review (- WIP PR #325 -)
  tests/test_fuzz.py
Due: tests

[STYLE] Suppress noisy deepsource (- WIP PR #323 -)
  tests/context.py
Due: tests

[PATCH] Apply changes from review (- WIP PR #323 -)
  tests/MulticastUDPClient.py
Due: tests

[TESTING] Refactor duplicate code into helper function (- WIP #222 -)
  tests/test_usage.py
Due: tests

[STYLE] Mass Refactoring of tripple double quotes (- WIP #171 -)
  docs/FAQ.md
  docs/USAGE.md
  docs/conf.py
  multicast/__init__.py
  multicast/__main__.py
  multicast/env.py
  multicast/exceptions.py
  multicast/hear.py
  multicast/recv.py
  multicast/send.py
  multicast/skt.py
  tests/MulticastUDPClient.py
  tests/__init__.py
  tests/context.py
  tests/profiling.py
  tests/run_selective.py
  tests/test_basic.py
  tests/test_build.py
  tests/test_deps.py
  tests/test_exceptions.py
  tests/test_fuzz.py
  tests/test_hear_cleanup.py
  tests/test_hear_data_processing.py
  tests/test_hear_keyboard_interrupt.py
  tests/test_hear_server.py
  tests/test_hear_server_activate.py
  tests/test_install_requires.py
  tests/test_manifest.py
  tests/test_usage.py
Due: multicast, tests

[TESTING] initial test of config idea (- WIP #254 -)
  .github/workflows/CI-BUILD.yml
Due: none

### ChangeLog: Changes in file .github/workflows/CI-BUILD.yml: Unknown Changes
  .github/workflows/CI-BUILD.yml
  .github/workflows/CI-MATs.yml
Due: none

[CONFIG] Implemented use of new python variables in CI (- WIP #254 -)
  .github/workflows/CI-DOCS.yml
  .github/workflows/Tests.yml
Due: none

[PATCH] Apply fixes from review (- PR #328 -)
  .github/workflows/CI-MATs.yml
  tests/check_spelling
Due: tests

[STYLE] Apply changes from review (- WIP PR #328 -)
  .github/workflows/CI-BUILD.yml
Due: none

[DOCUMENTATION] Updates CI docs with some notes on CI variables. (- WIP PR #328 -)
  .github/workflows/CI-BUILD.yml
  docs/CI.md
Due: none

[PATCH] Apply changes from review (- WIP PR #329 -)
  tests/test_usage.py
Due: tests
