Repository reactive-firewall/multicast: changes, and which Codecov flags are due for each by the changed paths.
All: multicast, tests

.codecov.yml:

codecov:
  notify:
    wait_for_ci: true
  require_ci_to_pass: true
  max_report_age: off
comment:
  behavior: default
  layout: reach, diff, flags, files, footer
  require_base: false
  require_changes: false
  require_head: true
  show_carryforward_flags: false
coverage:
  precision: 3
  round: nearest
  status:
    changes: false
    default_rules:
      flag_coverage_not_uploaded_behavior: include
    patch: true
    project:
      default:
        target: 95%
        base: auto
        branches:
          - master
          - stageing
          - stable
        if_ci_failed: error
        only_pulls: false
        removed_code_behavior: adjust_base
      multicast:
        target: 95%
        threshold: 1%
        threshold: 1%
        only_pulls: false
        flags:
          - "multicast"
        paths:
          - "multicast/"
          - "setup.py"
          - "!tests/"
      tests:
        target: 80%
        threshold: 1%
        if_ci_failed: ignore
        only_pulls: false
        removed_code_behavior: fully_covered_patch
        flags:
          - "tests"
        paths:
          - tests/
          - "!multicast/"
github_checks:
  annotations: true
flags:
  multicast:
    paths:
      - "multicast/"
      - "!tests/"
  tests:
    paths:
      - "tests/"
      - "!multicast/"

### ChangeLog: Changes in file .github/workflows/Tests.yml: jobs: on: # yamllint disable-line rule:truthy
  .github/workflows/Tests.yml
Due: none

[DOCUMENTATION] Reword heading to "Multicast Python Module" (- WIP #237 -)
  LICENSE.md
  Makefile
  README.md
  docs/requirements.txt
  multicast/__init__.py
  multicast/__main__.py
  multicast/exceptions.py
  multicast/hear.py
  multicast/recv.py
  multicast/send.py
  multicast/skt.py
  requirements.txt
  setup.cfg
  setup.py
  tests/MulticastUDPClient.py
  tests/context.py
  tests/requirements.txt
  tests/test_deps.py
  tests/test_exceptions.py
  tests/test_fuzz.py
  tests/test_hear_cleanup.py
  tests/test_hear_data_processing.py
  tests/test_hear_keyboard_interrupt.py
  tests/test_hear_server.py
  tests/test_hear_server_activate.py
Due: multicast, tests

[TESTING] Similar refactor magic numbers to be more descriptive (- WIP #215 -)
  tests/test_hear_keyboard_interrupt.py
Due: tests

[PATCH] minor tweak for performance (- WIP PR #248 -)
  setup.py
Due: none

[CI] Fixed regression in code-style for the TOX job.
  docs/conf.py
Due: none

[REFACTOR] Implement SOLID refactor of tests/check_pip (- WIP #190 -)
  tests/shlib/tool_pip_audit
  tests/shlib/tool_pip_core
  tests/shlib/tool_pip_license
  tests/shlib/tool_pip_lock
  tests/shlib/tool_pip_venv
Due: tests

[TESTING] updated file permissions (- WIP #190 -)
  tests/shlib/tool_pip_audit
  tests/shlib/tool_pip_core
  tests/shlib/tool_pip_license
  tests/shlib/tool_pip_lock
  tests/shlib/tool_pip_venv
Due: tests

[DOCUMENTATION] Implemented #240
  docs/conf.py
  docs/requirements.txt
  docs/utils.py
  pyproject.toml
Due: none

[FEATURE] Environment Variable Configuration Module (- WIP #31 -)
  multicast/__init__.py
  multicast/env.py
  setup.cfg
  tests/__init__.py
Due: multicast, tests

[CI] fix for regression in CI EXTRAS-FOR-PIP
  tests/shlib/tool_pip_lock
Due: tests

[PATCH] Minor tweak as discussed in review #256
  multicast/__init__.py
Due: multicast

[PATCH] Debug Part 2 of many (- WIP PR #253 -)
  tests/check_pip
  tests/shlib/tool_pip_license
  tests/shlib/tool_pip_lock
  tests/shlib/tool_pip_venv
Due: tests

[PATCH] Debug part 3 of many (- WIP PR #253 -)
  tests/shlib/tool_pip_venv
Due: tests

[DOCUMENTATION] Improvements as discussed in review (- WIP PR #256 -)
  multicast/__init__.py
  multicast/env.py
Due: multicast

[DOCUMENTATION] Cleaned up documentation style a bit.
  multicast/__init__.py
  multicast/env.py
Due: multicast

[DOCUMENTATION] improved CI statistics with new metrics.
  docs/CI.md
Due: none

[CI] Refactored CI to use Environments (- WIP #177 -)
  .github/workflows/CI-BUILD.yml
  .github/workflows/CI-DOCS.yml
  .github/workflows/CI-MATs.yml
  .github/workflows/Tests.yml
Due: none

[REGRESSION] Debug part 1 of many for #117. :see_no_evil:
  .github/workflows/CI-BUILD.yml
Due: none

[REGRESSION] Debug Part 2 of many for #177
  .github/workflows/CI-BUILD.yml
Due: none

[REGRESSIONS] Debug part 3 for #177
  .github/workflows/CI-BUILD.yml
Due: none

[REGRESSION] Debug part 4 of many for #177
  .github/workflows/CI-BUILD.yml
Due: none

[REGRESSION] Debug part 5 of many for #177
  .github/workflows/CI-BUILD.yml
Due: none

[REGRESSION] Debug part 6 of many for #177 :see_no_evil:
  .github/workflows/CI-DOCS.yml
  .github/workflows/CI-MATs.yml
Due: none

[REGRESSION] Debug part 7 of many for #177 :see_no_evil:
  .github/workflows/CI-DOCS.yml
  .github/workflows/CI-MATs.yml
Due: none

[REGRESSION] Debug part 8 for #177 :see_no_evil:
  .github/workflows/CI-MATs.yml
Due: none

[CONFIG] Debug part 9 of many for #177 :see_no_evil:
  .github/workflows/CI-BUILD.yml
  .github/workflows/CI-MATs.yml
  .github/workflows/Tests.yml
Due: none

[PATCH] Implement single file SOLID improvements for #190
  tests/check_pip
Due: tests

[CI] Fix for minor typo from refactoring (- WIP #190 -)
  tests/check_pip
Due: tests

[REGRESSION] Possible fix for `check_pip` (- WIP #190 & PR #253 -)
  tests/check_pip
Due: tests

[PATCH] Minor tweak to `check_pip` (- WIP #190 -)
  tests/check_pip
Due: tests

[CI] Ignore `chardet` if installed in CI already (- WIP #190 -)
  tests/check_pip
Due: tests

[CI] Mitigate CI/CD site-customized packages from `check_pip` testing (- WIP #190 -)
  tests/check_pip
Due: tests

[REGRESSION] Fix for typo regression (- WIP #190 -)
  tests/check_pip
Due: tests

[CI] Revert last change-set to fix regression (- WIP #190 -)
  tests/check_pip
Due: tests

[DOCUMENTATION] Added a few more badges :hear_no_evil: (- WIP PR #257 -)
  docs/CI.md
Due: none

[CI] Debug part A of many for #177 Changes in file .github/workflows/CI-MATs.yml: - kept permissions: {} by default - added job permissions to checks in CI-MATs
  .github/workflows/CI-MATs.yml
Due: none

[DOCUMENTATION] Minor tweak for markdown style and wording for CI.md (- WIP #190 -)
  docs/CI.md
Due: none

[SECURITY] remove embedding token from codecov graphic.
  docs/CI.md
Due: none

[CI] Debugging new refactored CI (- WIP #177 -)
  .github/workflows/CI-BUILD.yml
  .github/workflows/CI-DOCS.yml
  .github/workflows/CI-MATs.yml
  .github/workflows/Tests.yml
Due: none

[CI] Tweaking the new CI overhaul a bit (- WIP #177 -)
  .github/workflows/Tests.yml
  tests/test_hear_keyboard_interrupt.py
Due: tests
